@model LMPlatform.UI.ViewModels.SearchViewModel.SearchViewModel

@section navleft
{
    <li><a class="linkNavbar" href="" onclick="history.go(-1);return true;"><i class="fa fa-arrow-left"></i>Назад</a></li>
    <li><a href="@Url.Action("Index", "Lms")" class="linkNavbar"><i class="fa fa-reply fa-tab"></i>В главное меню</a></li>
}

@section headerTitle{
    <h1>Результаты поиска:</h1>
}

<ul class="nav nav-tabs">
    @if (Model.Students.Any())
    {
        <li><a data-toggle="tab" href="#students">Студенты</a></li>
    }
    @if (Model.Groups.Any())
    {
        <li><a data-toggle="tab" href="#groups">Группы</a></li>
    }
    @if (Model.Lecturers.Any())
    {
        <li><a data-toggle="tab" href="#lecturers">Преподаватели</a></li>
    }
    @if (Model.Projects.Any())
    {
        <li><a data-toggle="tab" href="#projects">Проекты</a></li>
    }    
</ul>

<div class="tab-content">
    @if (Model.Students.Any())
    {
        <div id="students" class="tab-pane fade in active">
            @foreach (var student in Model.Students)
            {
                <a href="/Profile/Page/@student.Email" class="list-group-item">
                    @student.FullName
                    <br />
                    <sub>группа: @student.GroupId</sub>
                </a>
            }
        </div>
    }
    @if (Model.Groups.Any())
    {
        <div id="groups" class="tab-pane fade">
            @foreach (var group in Model.Groups)
            {
                <a href="/Parental/Index/@group.Name#/Statistics" class="list-group-item">
                    @group.Name
                </a>
            }
        </div>
    }
    @if (Model.Lecturers.Any())
    {
        <div id="lecturers" class="tab-pane fade">
            @foreach (var lecturer in Model.Lecturers)
            {
                <a href="/Profile/Page/@lecturer.Skill" class="list-group-item">
                    @lecturer.FullName
                </a>
            }
        </div>
    }
    @if (Model.Projects.Any())
    {
        <div id="projects" class="tab-pane fade">
            @foreach (var project in Model.Projects)
            {
                <a href="/BTS/ProjectManagement/@project.Id" class="list-group-item">
                    @project.Title
                </a>
            }
        </div>
    }
</div>

<script>
    $('.nav.nav-tabs > li:first-child').addClass('active');
</script>