@using Application.Core.UI.HtmlHelpers
@using LMPlatform.UI.Controllers
@using LMPlatform.UI.ViewModels.KnowledgeTestingViewModels
@{
    ViewBag.Title = "Управление вопросами";
    Layout = "~/Views/Shared/Layouts/_MainUsingNavLectorLayout.cshtml";
}

@model LMPlatform.Models.KnowledgeTesting.Test

@section scripts
{
    @Scripts.Render("~/bundles/datatable", "~/bundles/knockoutBundles", "~/bundles/knockoutBundles",
    "~/Scripts/ckeditor/mathquill.js", "~/Scripts/ckeditor/ckeditor.js")
    @Scripts.Render("~/Scripts/application/KnowledgeTesting/QuestionsListScript.js",
                "~/Scripts/application/KnowledgeTesting/QuestionDetailsScript.js",
                "~/Scripts/jquery.unobtrusive-ajax.js",  "~/Scripts/linq.js")
    @Styles.Render("~/Scripts/ckeditor/mathquill.css")
}

@section navleft
{
    <li><a href="@Url.Action("Index", "Tests", new {subjectId = Model.SubjectId})" class="linkNavbar"><i class="fa fa-arrow-left fa-1x"></i> &nbsp; К тестам</a></li>
}

<h3>@string.Format("Вопросы для теста \"{0}\"", Model.Title)
</h3>
<hr />
<div>
    <a id="addNewQuestionButton" class="btn btn-primary btn-sm">
        Добавить вопрос
    </a>
    <a id="selectQuestionButton" class="btn btn-primary btn-sm">
        Добавить вопрос из другого теста
    </a>
   

    <div>
        @Html.Partial("_DataTable", new DataTableViewModel
        {
            DataTable = Html.DataTable("questionsList", (QuestionsController controller) => controller.GetQuestionsList(null, 0),
            new {testId = Model.Id}),
            DataTableOptions = new DataTableOptions
            {
                Filterable = true,
                Info = true,
                Pagination = true,
                Searchable = true,
                Sortable = false,
                OnComplete = "initQuestionsList"
            }
        })
    </div>
</div>

<div id="quetionsSelector" class="modal fade" style="width: 100%">
    @Html.Partial("_QuestionsSelector", (IEnumerable<TestItemListViewModel>)ViewBag.Tests)
</div>

<div id="quetionTypes" class="modal fade" style="width: 100%">
@Html.Partial("_QuestionTypes")
</div>

<div id="quetionDetails" class="modal fade" style="width: 100%">
    @Html.Partial("_QuestionDetails")
</div>

@Html.Partial("_AnswerTemplates")
