@using Application.Core.UI.HtmlHelpers
@using LMPlatform.Models
@using LMPlatform.UI.Controllers
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/Layouts/_MainUsingNavLectorLayout.cshtml";
}

@model Subject


@section scripts
{
    @Scripts.Render("~/bundles/datatable", "~/bundles/knockoutBundles")
    @Scripts.Render("~/Scripts/application/KnowledgeTesting/TestsListScript.js",
                "~/Scripts/application/KnowledgeTesting/TestDetailsScript.js",
                "~/Scripts/application/KnowledgeTesting/TestUnlocksScript.js",
                "~/Scripts/linq.js")
}

@section navpanel
{
    @string.Format("{0}: Доступные тесты", Model.Name)
}

@section navleft
{
    @Html.Partial("_TestsLeftPanel", Model.Id)
}

<div style="margin: 20px">
    <a href="#" id="addNewTestButton">
        <span class="glyphicon glyphicon-plus"></span>Добавить тест
    </a>

    <div>
        @Html.Partial("_DataTable", new DataTableViewModel
        {
            DataTable = Html.DataTable("testsList", (TestsController controller) => controller.GetTestsList(null, 0), 
            new { subjectId = Model.Id}),
            DataTableOptions = new DataTableOptions
            {
                Filterable = true,
                Info = true,
                Pagination = true,
                Searchable = true,
                Sortable = false,
                OnComplete = "initTestList"
            }
        })
    </div>
</div>

<div class="modal fade" style="width: 100%" id="testUnlockDetails" aria-hidden="true">
    @Html.Partial("_TestUnlocksSelector", ViewBag.Groups as IEnumerable<Group>)
</div>
<div class="modal fade" style="width: 100%" id="testDetails" aria-hidden="true">
    @Html.Partial("TestDetails")
</div>
