@{
    ViewBag.Title = "Тестирование знаний";
    Layout = "~/Views/Shared/Layouts/_LayoutBase.cshtml";
}

@model LMPlatform.Models.Subject


@section scripts
{
    <script src="/Scripts/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="/Scripts/ng-ckeditor-1.0.1.js" type="text/javascript"></script>
    @Scripts.Render("~/bundles/knowledgeTesting")
    @Styles.Render("~/Content/testingModule.css")


    @* Move to another file *@
    <script type="text/javascript">
    window.kt = {
        actions: {
            tests: {
                getTests: '@Url.Action("GetTests", "Tests")',
                getTest: '@Url.Action("GetTest", "Tests")',
                saveTest: '@Url.Action("SaveTest", "Tests")',
                deleteTest: '@Url.Action("DeleteTest", "Tests")',
                getNextQuestion: '@Url.Action("GetNextQuestion", "TestPassing")',
                unlock: '@Url.Action("UnlockTests", "Tests")',
                unlockOne: '@Url.Action("ChangeLockForUserForStudent", "Tests")',
                getForLector: '@Url.Action("GetTestForLector", "Tests")',
                getQuestionsFromAnotherTests: '@Url.Action("GetQuestionsFromAnotherTests", "Tests")',

            },
            groups: {
                getGroupsForSubject: '@Url.Action("GetGroups", "Tests")',
                getSubgroups: '@Url.Action("GetSubGroups", "Tests")'
            },
            questions: {
                getQuestions: '@Url.Action("GetQuestions", "Tests")',
                getQuestion: '@Url.Action("GetQuestion", "Tests")',
                getConcepts: '@Url.Action("GetConcepts", "Tests")',
                deleteQuestion: '@Url.Action("DeleteQuestion", "Tests")',
                saveQuestion: '@Url.Action("SaveQuestion", "Tests")',
                addFromAnotherTest: '@Url.Action("AddQuestionsFromAnotherTest", "Tests")'
            },
            results: {
                getResults: '@Url.Action("GetResults", "TestPassing")',
                getControl: '@Url.Action("GetControlItems", "TestPassing")',
                getUserAnswers: '@Url.Action("GetUserAnswers", "TestPassing")'
            }
        }
    };
    </script>
}

@section navleft
{

    <li data-ng-controller="testsNavigationCtrl" class="linkNavbar" data-ng-class="{'active':isActive('/tests')}"><a href="#/tests">Тесты</a></li>
    <li data-ng-controller="testsNavigationCtrl" class="linkNavbar" data-ng-class="{'active':isActive('/control')}"><a href="#/control">Контроль прохождения тестов</a></li>
    <li data-ng-controller="testsNavigationCtrl" class="linkNavbar" data-ng-class="{'active':isActive('/results')}"><a href="#/results">Результаты</a></li>
    <li data-ng-controller="testsCtrl"><a href="/Subject?subjectId={{subjectId}}" linkNavbar"><i class="fa fa-arrow-left"></i>В предмет</a></li>
    <li data-ng-controller="testsCtrl"><a class="linkNavbar" href="/Tests/Subjects?subjectId={{subjectId}}"><i class="fa fa-refresh fa-tab"></i>Сменить предмет</a></li>
    <li data-ng-controller="testsCtrl" class="linkNavbar"><a href="@Url.Action("Index", "Lms")"><i class="fa fa-reply fa-tab"></i>&nbsp;В главное меню</a></li>
}

@section bodyAttributes{ ng-app="knowledgeTestingApp" }

@section headerTitle
{
    <h1>
        @Model.Name
    <small></small>
</h1>

}

@section body
{
    <div data-ng-view="" class="knowledge-testing"></div>
}

