@model List<LMPlatform.UI.ViewModels.SubjectViewModels.SubjectViewModel>
@{
    ViewBag.Title = "Все предметы";
    Layout = "../Shared/Layouts/_MainUsingNavLayout.cshtml";
}

@section navleft
{
    @foreach (var subject in Model)
    {
        <li><a href="@Url.Action("KnowledgeTesting", "Tests", new { subjectId = subject.SubjectId })" style="font-size: 14px">@subject.DisplayName</a></li>
    }
    <li><a href="@Url.Action("Subjects","Subject")" style="font-size: 14px"><i class="fa fa-gears fa-1x" style="margin-right: 10px"></i>  Все предметы</a></li>
    @if (User.IsInRole("lector"))
    {
        <li><a href="@Url.Action("Management","Subject")" style="font-size: 14px;"><i class="fa fa-gear fa-1x" style="margin-right: 10px"></i>  Управление предметами</a></li>
    }
}

<div>
    @foreach (var subject in Model)
    {
	    <div class="col-lg-3 col-md-4 col-xs-6 thumbnail">
		    @if (User.IsInRole("lector"))
		    {
			    <a class="thumbnail" href="@Url.Action("KnowledgeTesting", "Tests", new {subjectId = subject.SubjectId})"><img class="img-responsive" src="~/Content/images/image_subject.png"></a>
		    }
			
		    @if (User.IsInRole("student"))
		    {
			    <a class="thumbnail" href="@Url.Action("StudentsTesting", "TestPassing", new {subjectId = subject.SubjectId})"><img class="img-responsive" src="~/Content/images/image_subject.png"></a>
		    }
		    <p style="text-align: center" class="text-info">@subject.DisplayName</p>
	    </div>
    }
    <div class="clear-fix"></div>
</div>
