@using Application.Core.UI.HtmlHelpers
@using LMPlatform.UI.Controllers
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/Layouts/_MainUsingNavLectorLayout.cshtml";
}


@section scripts
{
    @Scripts.Render("~/bundles/datatable", "~/bundles/knockoutBundles")
    @Scripts.Render("~/Scripts/application/KnowledgeTesting/TestsResultsListScript.js",
                "~/Scripts/linq.js")
}

@section navpanel
{
    "Результаты тестов"
}

@section navleft
{
    <li><a href="@Url.Action("TestsList", "Tests")" class="linkNavbar"><i class="fa fa-pencil-square-o fa-1x"></i>&nbsp; Тесты</a></li>
    <li><a href="@Url.Action("TestsList", "Tests")" class="linkNavbar"><i class="fa fa-eye fa-1x"></i>&nbsp; Прохождение тестов</a></li>
    <li><a href="@Url.Action("TestResults", "Tests")" class="linkNavbar"><i class="fa fa-tasks fa-1x"></i>&nbsp; Результаты</a></li>
}

<div style="margin: 20px">

    <div>
        @Html.Partial("_DataTable", new DataTableViewModel
        {
            DataTable = Html.DataTable("testResultsList", (TestsController controller) => controller.GetTestsTesults(null, 0), 
            new { groupId = 1}),
            DataTableOptions = new DataTableOptions
            {
                Filterable = true,
                Info = true,
                Pagination = false,
                Searchable = true,
                Sortable = false,
                OnComplete = "initTestResultsList"
            }
        })
    </div>
</div>

@*<div class="modal fade" style="width: 100%" id="testUnlockDetails" aria-hidden="true">
    @Html.Partial("_TestUnlocksSelector", ViewBag.Groups as IEnumerable<Group>)
</div>*@
