@model LMPlatform.UI.ViewModels.BTSViewModels.AddOrEditBugViewModel

<div id="addBugForm">

    @using (Html.BeginForm("SaveBug", "BTS", FormMethod.Post))
    {
        <div>
            @Html.ValidationSummary("Ошибка!", new { @class = "alert alert-dismissable alert-danger" })
        </div>
    
        @Html.AntiForgeryToken()
        
        @Html.HiddenFor(e => e.BugId)

        <div>
            @Html.LabelFor(model => model.ProjectId, new { @class = "control-label" })
            @Html.DropDownListFor(e => e.ProjectId, Model.GetProjectNames(), new { @class = "form-control", @id = "projectNames" })
        </div>

        <div>
            @Html.LabelFor(model => model.Summary, new { @class = "control-label" })
            @Html.EditorFor(model => model.Summary, new { @class = "form-control", @style = "width: 538px" })
            @Html.ValidationMessageFor(model => model.Summary, " ")
        </div>

        <div>
            @Html.LabelFor(model => model.Description, new { @class = "control-label" })
            @Html.EditorFor(model => model.Description, new { @class = "form-control", @style = "width: 538px" })
            @Html.ValidationMessageFor(model => model.Description, " ")
        </div>

        <div>
            @Html.LabelFor(model => model.Steps, new { @class = "control-label" })
            @Html.EditorFor(model => model.Steps, new { @class = "form-control"})
            @Html.ValidationMessageFor(model => model.Steps, " ")
        </div>
            
        <div>
            @Html.LabelFor(model => model.ExpectedResult, new { @class = "control-label" })
            @Html.EditorFor(model => model.ExpectedResult, new { @class = "form-control", @style = "width: 538px" })
            @Html.ValidationMessageFor(model => model.ExpectedResult, " ")
        </div>

        <div>
            @Html.LabelFor(model => model.SymptomId, new { @class = "control-label" })
            @Html.DropDownListFor(e => e.SymptomId, Model.GetSymptomNames(), new { @class = "form-control" })
        </div>
            
        <div>
            @Html.LabelFor(model => model.SeverityId, new { @class = "control-label" })
            @Html.DropDownListFor(e => e.SeverityId, Model.GetSeverityNames(), new { @class = "form-control" })
        </div>
    }

    <div>
    </div>
</div>

<script type="text/javascript">
    $('.modal-dialog').width('540px');
    $('#addBugForm a').tooltip(
    {
        placement: "right",
    });

    shared.initPlugins();
</script>