@model LMPlatform.UI.ViewModels.BTSViewModels.AddBugViewModel

<div id="addBugForm">
    @using (Html.BeginForm("DocumentBug", "BTS"))
    {
        @Html.ValidationSummary(true)

        <div class="center" style="margin: 10px">

            <div>
                @Html.LabelFor(model => model.ProjectId)
                @Html.DropDownListFor(e => e.ProjectId, Model.GetProjectNames(), new { @class = "form-control", @id = "projectNames" })
            </div>

            <div>
                @Html.LabelFor(model => model.Summary)
                @Html.TextBoxFor(model => model.Summary, new { @style = "width: 538px"})
                @Html.ValidationMessageFor(model => model.Summary)
            </div>

            <div>
                @Html.LabelFor(model => model.Description)
                @Html.TextBoxFor(model => model.Description, new { @style = "width: 538px"})
                @Html.ValidationMessageFor(model => model.Description)
            </div>

            <div>
                @Html.LabelFor(model => model.Steps)
                @Html.TextBoxFor(model => model.Steps, new { @style = "width: 538px"})
                @Html.ValidationMessageFor(model => model.Steps)
            </div>

            <div>
                @Html.LabelFor(model => model.SymptomId)
                @Html.DropDownListFor(e => e.SymptomId, Model.GetSymptomNames(), new { @class = "form-control" })
            </div>

            <div>
                @Html.LabelFor(model => model.StatusId)
                @Html.DropDownListFor(e => e.StatusId, Model.GetStatusNames(), new { @class = "form-control" })
            </div>

            <div>
                @Html.LabelFor(model => model.SeverityId)
                @Html.DropDownListFor(e => e.SeverityId, Model.GetSeverityNames(), new { @class = "form-control" })
            </div>

            <p>
                <input type="submit" style="display: none" />
            </p>
        </div>
    }
</div>

<script type="text/javascript">
    $('.modal-dialog').width('600px');
</script>
