@model LMPlatform.UI.ViewModels.BTSViewModels.AddOrEditProjectViewModel

<div id="addOrEditProjectForm">

    @using (Html.BeginForm("SaveProject", "BTS", FormMethod.Post))
    {
        <div>
            @Html.ValidationSummary("Ошибка!", new { @class = "alert alert-dismissable alert-danger" })
        </div>
    
        @Html.AntiForgeryToken()
        
        @Html.HiddenFor(e => e.ProjectId)

        <div style="width: 560px">
            @Html.LabelFor(e => e.Title, new { @class = "control-label" })
            @Html.EditorFor(e => e.Title, new { @class = "form-control", @style = "float:left" })
            @Html.ValidationMessageFor(e => e.Title, " ")
        </div>
    }

    <div>
    </div>
</div>
<script type="text/javascript">
    $('.modal-dialog').width('540px');
    $('#addOrEditProjectForm a').tooltip(
    {
        placement: "right",
    });

    shared.initPlugins();
</script>

