@model LMPlatform.UI.ViewModels.BTSViewModels.ProjectListViewModel

@section scripts
{
    <script src="~/Scripts/application/BTS/projectEdit.js" type="text/javascript"></script>
}

<a href="@Url.Action("ProjectManagement", "BTS", new { projectId = Model.Id })" class="projectDetailsButton" style="margin-right: 10px" >
    <span class="fa fa-gears fa-1x" data-model-id='@Model.Id' />
</a>
<a href="#" class="editProjectButton" data-url="@Url.Action("EditProject", "BTS", new { projectId = Model.Id })" data-toggle="tooltip" style="margin-right: 10px" >
    @*<a href="@Url.Action("EditProject", "BTS", new { projectId = Model.Id})" class="editProjectButton" style="margin-right: 10px" >*@
    <span class="fa fa-pencil fa-1x" data-model-id='@Model.Id' />
</a>
<a href="@Url.Action("DeleteProject", "BTS", new { projectId = Model.Id })" class="deleteProjectButton" style="margin-right: 10px" >
    <span class="fa fa-trash-o fa-1x" data-model-id='@Model.Id' />
</a>


