@model LMPlatform.Models.Project
<div>
    <h3>Проект №  @Html.DisplayFor(m=>m.Id)</h3>
    <p>Тема: @Html.DisplayFor(m=>m.Title)</p>
    <p>Создатель: @Html.DisplayFor(m=>m.CreatorId)</p>
    <p>Дата создания: @Html.DisplayFor(m=>m.CreationDate)</p>
    <p>Является избранным: @Html.DisplayFor(m=>m.IsChosen)</p>
</div>