@model LMPlatform.UI.ViewModels.BTSViewModels.ProjectParticipationViewModel

<div class="table-responsive" style="padding: 5px">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="width: 20px">№</th>
                <th>ФИО студента</th>
                <th>Проект</th>
                <th>Роль на проекте</th>
                <th>Создатель проекта</th>
            </tr>
        </thead>
        @foreach (var student in Model.GetStudentGroupUserList(Model.GroupId))
        {
            <tr>
                <td style="width: 20px">@student.Number</td>
                <td>@student.Name</td>
                <td>
                    @foreach (var project in student.ProjectName)
                    {
                        <div style="padding-bottom: 10px">@project</div>
                    }
                </td>
                <td>
                    @foreach (var role in student.ProjectRole)
                    {
                        <div style="padding-bottom: 10px">@role</div>
                    }
                </td>
                <td>
                    @foreach (var project in student.ProjectCreatorName)
                    {
                        <div style="padding-bottom: 10px">@project</div>
                    }
                </td>
            </tr>
        }
    </table>
</div>
