@model LMPlatform.UI.ViewModels.BTSViewModels.ProjectParticipationViewModel

<div class="table-responsive" style="padding: 5px">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
@*                <th style="width: 20px">№</th>*@
                <th>ФИО студента</th>
                <th>Проект</th>
                <th>Роль на проекте</th>
                <th>Создатель проекта</th>
            </tr>
        </thead>
        @foreach (var student in Model.GetStudentGroupUserList(Model.GroupId))
        {
            for (int i = 0; i < student.QuentityOfProjects; i++)
            {
            <tr>
                @if (i == 0)
                {
                    @*<td style="width: 20px">@student.Number</td>*@
                    <td>@student.Name</td>
                }
                else
                {
                    @*<td></td>*@
                    <td></td>
                }
                <td>@student.ProjectName[i]</td>
                <td>@student.ProjectRole[i]</td>
                <td>@student.ProjectCreatorName[i]</td>
            </tr>
            }
        }
    </table>
</div>
