@model LMPlatform.UI.ViewModels.BTSViewModels.BugsViewModel

@{
    ViewBag.Title = "Управление ошибками";
}

@section css
{
    <link rel="stylesheet" href="/Content/chosen/chosen.css">
    <link rel="stylesheet" href="/Content/Site.css" />
    <link rel="stylesheet" href="/Content/clickablePanel.css">
    <link rel="stylesheet" href="/Content/Chat.css" />
}

@section scripts
{
    <script src="~/Scripts/application/BTS/bugDetails.js" type="text/javascript"></script>
    <script src="~/Scripts/application/BTS/chat.js" type="text/javascript"></script>
}

@section navleft
{
    @Html.Partial("_BTSSubnavbar")
}

@Html.HiddenFor(e => e.ProjectId)

<h3>
    @Model.Summary
</h3>
<hr />
<div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 10px">
            <div class="row">
                <div class="col-md-1">
                    <span class="fa fa-bug fa-3x" />
                </div>
                <div class="col-md-11">
                    <div class="row">
                        <i class="glyphicon glyphicon-calendar fa-tab"></i>Задокументирована @Model.ReportingDate пользователем <b>@Model.ReporterName</b>
                    </div>
                    <div class="row" style="color: #999">
                        <i class="glyphicon glyphicon-time fa-tab"></i>Изменена @Model.ModifyingDate пользователем <b>@Model.EditorName</b>
                    </div>

                </div>
            </div>
            <br>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-9" style="padding-left: 0px">
                        <div class="row">
                            <div class="col-md-3">
                                <b>Название ошибки:</b>
                            </div>
                            <div class="col-md-9">
                                @Model.Summary
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-md-3">
                                <b>Проект:</b>
                            </div>
                            <div class="col-md-9">
                                @Model.Project
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-md-3">
                                <b>Назначенный разработчик:</b>
                            </div>
                            @if (@Model.AssignedDeveloperId == 0)
                            {
                                <div class="col-md-9">
                                    отсутствует
                                </div>
                            }
                            else
                            {
                                <div class="col-md-9">
                                    @Model.AssignedDeveloperName
                                </div>
                            }
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-md-3">
                                <b>Описание ошибки:</b>
                            </div>
                            <div class="col-md-9">
                                @Html.Raw(Html.Encode(Model.Description).Replace("\n", "<br/>"))
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-md-3">
                                <b>Шаги выполнения:</b>
                            </div>
                            <div class="col-md-9">
                                <div class="display-field">
                                    @Html.Raw(Html.Encode(Model.Steps).Replace("\n", "<br/>"))
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-md-3">
                                <b>Ожидаемый результат:</b>
                            </div>
                            <div class="col-md-9">
                                <div class="display-field">
                                    @Html.Raw(Html.Encode(Model.ExpectedResult).Replace("\n", "<br/>"))
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-md-3">
                                <b>Важность ошибки:</b>
                            </div>
                            <div class="col-md-9">
                                @Model.Severity
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <b>Статус ошибки:</b>
                            </div>
                            <div class="col-md-9">
                                @if (@Model.Status == "Обнаружена" || @Model.Status == "Открыта заново")
                                {
                                    <b><font color="red">@Model.Status</font></b>
                                }
                                else if (@Model.Status == "Закрыта")
                                {
                                    <b><font color="green">@Model.Status</font></b>
                                }
                                else
                                {
                                    @Model.Status
                                }
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <b>Симптом ошибки:</b>
                            </div>
                            <div class="col-md-9">
                                @Model.Symptom
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <a class="btn btn-primary btn-sm" href="@Url.Action("ProjectManagement", "BTS", new { id = Model.ProjectId })">Перейти к проекту текущей ошибки</a>
                        </div>
                        <p></p>
                        @if (@Model.Status != "Закрыта")
                        {
                            <div class="row hidden" id="editBug">
                                <a class="editBugButton btn btn-primary btn-sm" style="width: 234px" href="@Url.Action("EditBug", "BTS", new { id = Model.BugId })">Редактировать ошибку</a>
                            </div>
                            <p></p>
                        }

                        <div class="row">
                            <div class="panel panel-primary" style="margin-top: 10px">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Жизненный цикл ошибки</h3>
                                </div>
                                <div class="panel-body" id="bugLog" style="padding: 10px; height: 200px">
                                    <div>

                                        @foreach (var bugLog in Model.GetBugLogs())
                                        {
                                            <div class="chat-body">
                                                <div class="header">
                                                    <strong class="primary-font"></strong><small class="pull-left text-muted">
                                                        <span class="glyphicon glyphicon-time" style="margin-right: -15px;"></span>@bugLog.LogDate.ToString("HH:mm dd.MM.yyyy")</small>
                                                </div>
                                                <p>
                                                    @*@if (bugLog == Model.GetBugLogs().First())
                                                        {
                                                            <p><b>@Model.GetLogUserName(Model.ReporterId)</b> задокументировал ошибку, выставив статус <font color="green"><b>@Model.GetStatusName(bugLog.CurrStatusId)</b></font></p>
                                                        }
                                                        else
                                                        {*@
                                                    @if (bugLog.CurrStatusId == bugLog.PrevStatusId)
                                                    {
                                                        <p>
                                                            <b>Пользователь:</b> @bugLog.UserName<br />
                                                            <b>Действие:</b> редактирование ошибки
                                                        </p>
                                                    }
                                                    else
                                                    {
                                                        <p>
                                                            <b>Пользователь:</b> @bugLog.UserName<br />
                                                            <b>Действие:</b> изменение статуса ошибки <font color="red"><b>@Model.GetStatusName(bugLog.PrevStatusId)</b></font>&nbsp; на статус <font color="green"><b>@Model.GetStatusName(bugLog.CurrStatusId)</b></font>
                                                        </p>
                                                    }
                                                    @*}*@
                                                </p>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <br />
            <div>
                <div class="panel panel-primary">
                    <div class="panel-heading" id="accordion">
                        <h3 class="panel-title">Галерея прикрепленных к ошибке изображений</h3>
                        <span class="pull-right clickable panel-collapsed"><i class="glyphicon glyphicon-plus"></i></span>
                    </div>
                    <div class="panel-body" style="display: none">
                        <h4>Изображения отсутствуют</h4>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script>

</script>

<style>

</style>

