@{
    ViewBag.Title = "BTS";
    ViewBag.NgApp = "btsApp";
    ViewBag.NgController = "homeCtrl";
}

@section css
{
    @Styles.Render("~/bundles/ngTable/styles")
    @Styles.Render("~/Content/btsModule")
    <link rel="stylesheet" href="/Content/clickablePanel.css">
    <link rel="stylesheet" href="/Content/Chat.css" />
}

@section scripts
{
    @Scripts.Render("~/bundles/btsApp")
    @Scripts.Render("~/bundles/ngTable")
    <script src="~/Scripts/raphael-min.js"></script>
    <script src="~/Scripts/morris.js"></script>
}

@section navleft
{
    @Html.Partial("_BTSnavleft")
}

@section headerTitle
{
    <h1 ng-cloak>{{Title}}</h1>
}

@{
    var IsLector = @User.IsInRole("lector") ? 1 : 0;
    int userId = WebSecurity.CurrentUserId;
    <div ng-view ng-init="init(@IsLector, @userId)"></div>
}
