@model LMPlatform.UI.ViewModels.BTSViewModels.ProjectsViewModel

@section subnavbar
{
    @Html.Partial("_BTSSubnavbar")
}

<div class="container" style="margin: 10px">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div>
                        <h4>Выбор проекта</h4>
                        @using (@Html.BeginForm("ProjectManagement", "BTS"))
                        {
                            @Html.DropDownListFor(e => e.ProjectId, Model.GetProjectNames(), new {@class = "form-control", @id = "projectNameList"})
                        }
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-md-4">
                                @Html.LabelFor(p => p.Title) :
                            </div>
                            <div class="col-md-8">
                                @Model.Title
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-md-4">
                                @Html.LabelFor(p => p.Creator) :
                            </div>
                            <div class="col-md-8">
                                @Model.CreatorName
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-md-4">
                                @Html.LabelFor(p => p.CreationDate) :
                            </div>
                            <div class="col-md-8">
                                @Model.CreationDate.ToShortDateString()
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-7">
                            <h4>Участники проекта</h4>
                        </div>
                        <div class="col-md-5">
                            <button type="button" class="btn btn-primary" style="margin-left: 30px">Добавить участника</button>
                        </div>
                            
                    </div>
            
                    @*<table class="table">
                        <tr>
                            <td style="width: 55%">User1</td> 
                            <td style="width: 40%">разработчик</td> 
                            <td style="width: 5%"><img src="/Content/images/trash_blue.png"/></td> 
                        </tr>
                        <tr>
                            <td>User2</td> 
                            <td>разработчик</td> 
                            <td><img src="/Content/images/trash_blue.png"/></td> 
                        </tr>
                        <tr>
                            <td>User3</td> 
                            <td>тестировщик</td> 
                            <td><img src="/Content/images/trash_blue.png"/></td> 
                        </tr>
                    </table>*@
                    
                    <div style="margin: 10px">
                        @Html.Partial("UnderConstruction")
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" align="center">Анализ ошибок проекта</h3>
                </div>
            </div>
            @*<div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <p>Новые</p>
                    <p>Разрешенные</p>
                    <p>Закрытые</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <h4>Важность ошибок</h4>
                    <p>Высокая</p>
                    <p>Средняя</p>
                    <p>Низкая</p>
                </div>
            </div>
            *@
            <div style="margin: 10px">
                @Html.Partial("UnderConstruction")
            </div>

            <div class="row" align="center">
                <button type="button" class="btn btn-primary">Перейти к ошибкам проекта</button>
            </div>
        </div>

    </div>
</div>


