@using Application.Core.UI.HtmlHelpers
@using LMPlatform.UI.Controllers
@using LMPlatform.UI.ViewModels.BTSViewModels
@using Mvc.JQuery.Datatables
@model LMPlatform.UI.ViewModels.BTSViewModels.ProjectsViewModel

@{
    ViewBag.Title = "Управление проектами";
}

@section css
{
    <link rel="stylesheet" href="/Content/clickablePanel.css">
    <link rel="stylesheet" href="/Content/Site.css" />
    <link rel="stylesheet" href="/Content/Chat.css" />
    <link rel="stylesheet" href="/Content/morris.css" />
}

@section scripts
{
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/application/BTS/project.js" type="text/javascript"></script>
    <script src="~/Scripts/application/BTS/projectPart.js" type="text/javascript"></script>
    <script src="~/Scripts/application/BTS/chat.js" type="text/javascript"></script>
    <script src="~/Scripts/application/BTS/easyTooltip.js" type="text/javascript"></script>

    <script src="~/Scripts/jqplot/jquery.jqplot.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jqplot/jqplot.pieRenderer.min.js" type="text/javascript"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="~/Scripts/application/BTS/morris.js"></script>
}

@section navleft
{
    @Html.Partial("_BTSSubnavbar")
}

@section headerTitle
{
	<h1>
		@Model.Title	
	</h1>
}

<div class="row">
    <div class="col-md-8" style="padding-right: 40px">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <b>Создатель проекта:</b>
                    </div>
                    <div class="col-md-8">
                        @Model.CreatorName
                    </div>
                </div>
                @if (@Model.Details != "")
                {
                    <h4></h4>
                    <div class="row">
                        <div class="col-md-4">
                            <b>Описание проекта:</b>
                        </div>
                        <div class="col-md-8">
                            @Html.Raw(Html.Encode(Model.Details).Replace("\n","<br/>"))
                        </div>
                    </div>
                }
                <h4></h4>
                <div class="row">
                    <div class="col-md-4">
                        <b>Дата последнего изменения проекта:</b>
                    </div>
                    <div class="col-md-4">
                        @Model.CreationDate.ToShortDateString()
                    </div>
                    <div class="col-md-4" style="float: right">
                    </div>
                </div>
            </div>
        </div>

        <hr style="margin-bottom: 5px"/>
        
        <h4>Участники проекта</h4>
        <div class="row">
            <div class="col-md-7">
                @if (@Model.IsProjectManager())
                {
                    <a class="projectStudentButton btn btn-primary btn-sm" style="float: left; padding-top: 10px; margin-top: 5px" href="@Url.Action("AssignStudentOnProject", "BTS")">Добавить студента</a>
                    <a class="projectLecturerButton btn btn-primary btn-sm" style="float: left; padding-top: 10px; margin-top: 5px" href="@Url.Action("AssignLecturerOnProject", "BTS")">Добавить лектора</a>   
                }
            </div>
            <div class="col-md-5">
                @if (@Model.IsProjectManager())
                {
                    <a class="clearProjectButton btn btn-primary btn-sm" style="float: right; padding-top: 10px; margin-top: 5px" href="@Url.Action("ClearProject", "BTS")">Очистить проект</a>   
                }
            </div>
        </div>

        <br />

        <div class="projectUsersList">
            @Html.Partial("_DataTable", new DataTableViewModel
            {
                DataTable = Html.DataTable("ProjectUserList", (BTSController controller) => controller.GetProjectUsers(new DataTablesParam() { }), new { projectId = Model.ProjectId }),
                DataTableOptions = new DataTableOptions
                {
                    Pagination = false,
                    Searchable = false,
                    Sortable = false,
                    OnComplete = "projectUserManagement.projectUserEditItemActionHandler",
                    Filterable = false,
                    Info = false
                }
            })
        </div>
        
        <div class="row">
            <div id="commentPanel" style="padding: 0 15px 0 15px">
                <div>
                    <div class="panel panel-primary">
                        <div class="panel-heading" id="accordion">
                            <h3 class="panel-title">Обсуждение проекта</h3>
                            <span class="pull-right clickable "><i class="glyphicon glyphicon-minus"></i></span>
                        </div>
                        <div class="panel-body" style="padding: 10px; height: 200px">
                            <ul class="chat">
                                @if (Model.GetProjectComments().Count == 0)
                                {
                                    <font color="#999"><h5>Комментарии к данному проекту отсутствуют</h5></font>
                                }
                                @foreach (var comment in Model.GetProjectComments())
                                {
                                    <li>
                                        <div class="chat-body">
                                            <div class="header">
                                                <strong class="primary-font">@Model.GetCommentUserName(comment.User.Id)</strong> <small class="pull-right text-muted">
                                                                                                                 <span class="glyphicon glyphicon-time" style="margin-right: -15px;"></span>@comment.CommentingDate.ToString("HH:mm dd.MM.yyyy")</small>
                                            </div>
                                            <p>
                                                @comment.CommentText
                                            </p>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="CommentText" type="text" class="form-control input-sm" style="height: 36px; width: 95%; margin-top: -1px" placeholder="Введите свой комментарий..." />
                                <span class="input-group-btn" style="width: 5%">
                                    <button type="submit" class="btn btn-primary btn-sm" id="chat-btn">
                                        Отправить</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 float-right" style="padding-right: 45px">
        <div class="row">

            <div style="padding-left: 0px 20px 0px 20px">
                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-heading" id="accordion">
                            <h3 class="panel-title">Анализ ошибок проекта</h3>
                        </div>
                        <div class="panel-body" style="padding: 10px; overflow: hidden">
                            <div>
                                <h5>Количество ошибок проекта: <b>@Model.BugQuentity</b></h5>
                                @if (Model.BugQuentity != 0)
                                {
                                    <div style="padding-top: 5px">
                                        <h5>Важность ошибок:</h5>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@((int)(Model.QuentityOfBugsBySeverity[0].Quentity * 100.0 / Model.BugQuentity)).ToString()" aria-valuemin="0" aria-valuemax="100" style="@("width: " + ((int)(Model.QuentityOfBugsBySeverity[0].Quentity * 100.0 / Model.BugQuentity)) + "%;")">
                                                <span class="sr-only">@Model.QuentityOfBugsBySeverity[0].Name</span>
                                            </div>
                                            <span class="progress-type">@Model.QuentityOfBugsBySeverity[0].Name</span>
                                            <span class="progress-completed">@Model.QuentityOfBugsBySeverity[0].Quentity</span>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="@((int)(Model.QuentityOfBugsBySeverity[1].Quentity * 100.0 / Model.BugQuentity)).ToString()" aria-valuemin="0" aria-valuemax="100" style="@("width: " + ((int)(Model.QuentityOfBugsBySeverity[1].Quentity * 100.0 / Model.BugQuentity)) + "%;")">
                                                <span class="sr-only">@Model.QuentityOfBugsBySeverity[1].Name</span>
                                            </div>
                                            <span class="progress-type">@Model.QuentityOfBugsBySeverity[1].Name</span>
                                            <span class="progress-completed">@Model.QuentityOfBugsBySeverity[1].Quentity</span>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="@((int)(Model.QuentityOfBugsBySeverity[2].Quentity * 100.0 / Model.BugQuentity)).ToString()" aria-valuemin="0" aria-valuemax="100" style="@("width: " + ((int)(Model.QuentityOfBugsBySeverity[2].Quentity * 100.0 / Model.BugQuentity)) + "%;")">
                                                <span class="sr-only">@Model.QuentityOfBugsBySeverity[2].Name</span>
                                            </div>
                                            <span class="progress-type">@Model.QuentityOfBugsBySeverity[2].Name</span>
                                            <span class="progress-completed">@Model.QuentityOfBugsBySeverity[2].Quentity</span>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="@((int)(Model.QuentityOfBugsBySeverity[3].Quentity * 100.0 / Model.BugQuentity)).ToString()" aria-valuemin="0" aria-valuemax="100" style="@("width: " + ((int)(Model.QuentityOfBugsBySeverity[3].Quentity * 100.0 / Model.BugQuentity)) + "%;")">
                                                <span class="sr-only">@Model.QuentityOfBugsBySeverity[3].Name</span>
                                            </div>
                                            <span class="progress-type">@Model.QuentityOfBugsBySeverity[3].Name</span>
                                            <span class="progress-completed">@Model.QuentityOfBugsBySeverity[3].Quentity</span>
                                        </div>
                                    </div>
                                    <h5>Статусы ошибок:</h5>
                                    
                                    <div id="graph" align="center"></div>
                                    
                                }
                            </div>
                            <div align="center" style="padding-bottom: 10px">
                                <a type="button" class="btn btn-primary btn-sm" href="/BTS/IndexV2#/Project/@Model.ProjectId/Bugs">Перейти к ошибкам проекта</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $("#ProjectUsersList_wrapper").css('margin-bottom', '0px');

    $(document).ready(function () {
        
        var data = @Html.Raw(Model.BugStatusesJson);
        if (data != ' ') {
            var line = [];
            for (var propName in data) {
                line.push({ label : propName, value : data[propName]});
            }

            Morris.Donut({
                element: 'graph',
                data: line,

                formatter: function (x) { return x + "%" }
            }).on('click', function (i, row) {
                console.log(i, row);
            });
        }
    });
</script>

