@using Application.Core.UI.HtmlHelpers
@using LMPlatform.UI.Controllers
@using Mvc.JQuery.Datatables
@model LMPlatform.Models.Project

@section scripts{
     @Scripts.Render("~/bundles/datatable")
}

@section subnavbar
{
    @Html.Partial("_BTSSubnavbar")
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#allProjects" data-toggle="tab" style="margin-left: 10px">Список проектов</a></li>
                <li><a href="#chosenProjects" data-toggle="tab">Избранные проекты</a></li>
                <li><a href="#addProject" data-toggle="tab">Добавить проект</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="allProjects">
                    <div style="margin: 10px">
                        @Html.Partial("_DataTable", new DataTableViewModel
                        {
                             DataTable = Html.DataTable("allProjectsList", (BTSController controller) => controller.GetAllProjects(null)),
                             DataTableOptions = new DataTableOptions
                             {
                                  Filterable = true,
                                  Info = true,
                                  OnComplete = null,
                                  Pagination = true,
                                  Searchable = true,
                                  Sortable = false,
                             }
                        })
                    </div>
                </div>
                <div class="tab-pane" id="chosenProjects">
                    <div style="margin: 10px">
                        @Html.Partial("_DataTable", new DataTableViewModel
                        {
                             DataTable = Html.DataTable("chosenProjectsList", (BTSController controller) => controller.GetChosenProjects(null)),
                             DataTableOptions = new DataTableOptions
                             {
                                  Filterable = true,
                                  Info = true,
                                  OnComplete = null,
                                  Pagination = true,
                                  Searchable = true,
                                  Sortable = false,
                             }
                        })
                    </div>
                </div>
                <div class="tab-pane" id="addProject">
                    <div class="col-md-offset-3 col-md-6">
                        @using (Html.BeginForm())
                        {
                            <div class="center" style="margin: 10px">
                                <div>
                                    @Html.LabelFor(p => p.Title)
                                    @Html.TextBoxFor(p => p.Title, new { @class = "form-control" })
                                </div>
                                <div class="checkbox">
                                    <label>@Html.CheckBoxFor(p => p.IsChosen) Добавить в избранное</label> 
                                </div>
                        
                                <p>
                                    <input type="submit" class="btn btn-primary" value="Добавить" style="width: 100%"/>
                                </p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>