@model LMPlatform.UI.ViewModels.ComplexMaterialsViewModel.AddOrEditRootConceptViewModel
<style>
    .with-block
    {
        display:block;
    }
</style>
<div id="addOrEditRootConceptForm">

    @using (Html.BeginForm("SaveRootConcept", "ComplexMaterial", FormMethod.Post))
    {
        <div>
            @Html.ValidationSummary("Ошибка!", new { @class = "alert alert-dismissable alert-danger" })
        </div>

        @Html.AntiForgeryToken()

        @Html.HiddenFor(e => e.Id)
        @Html.HiddenFor(e => e.Author)
        @Html.HiddenFor(e => e.Next)
        @Html.HiddenFor(e => e.Prev)

        <div style="width: 500px">
            @Html.Label("Name", String.Format("{0}", "Название", Model.Published ? "опубликован" : "неопубликован"), new { @class = "control-label" })
            @*@Html.LabelFor(e => String.Format("{0} ({1})", e.Name, e.Published ? "опубликован" : "неопубликован"), new { @class = "control-label" })*@
            @Html.EditorFor(e => e.Name, new { @class = "form-control with-block"})
            @Html.ValidationMessageFor(e => e.Name, " ")
        </div>

        <div style="width: 560px">

            @if (Model.IsNew())
            {
                @Html.LabelFor(e => e.SelectedSubjectId, new { @class = "control-label" });
                @Html.DropDownListFor(e => e.SelectedSubjectId, Model.GetSubjects(Model.Author), new { @class = "form-control", @style = "width:500px;" });
            }
            else
            {
                @Html.LabelFor(e => e.SelectedSubjectId, new { @class = "control-label" });
                @Html.DropDownListFor(e => e.SelectedSubjectId, Model.GetSubjects(Model.Author), new { @disabled = "True", @class = "form-control", @style = "width:500px;" });
                @Html.HiddenFor(e => e.SelectedSubjectId)
            }
        </div>
        if (!Model.IsNew())
        {
            <div style="padding-bottom: 10px; padding-top: 20px; width: 560px; display: inline-block; ">
                <label style="" class="control-label">Материал опубликован?</label>
                @Html.CheckBoxFor(e => e.Published)
            </div>
        }
        @*<div style="width: 560px">
                @Html.LabelFor(e => e.Author, new { @class = "control-label" })
                @Html.EditorFor(e => e.Author, new { @class = "form-control" })
                @Html.ValidationMessageFor(e => e.Author, " ")
            </div>*@
    }

    <div>
    </div>
</div>
<script type="text/javascript">
    $('.modal-dialog').width('560px');
    $('#addOrEditConceptForm a').tooltip(
    {
        placement: "right",
    });

    shared.initPlugins();
</script>

