@model LMPlatform.UI.ViewModels.SubjectModulesViewModel.ModulesNewsViewModel

<div>
    @if (User.IsInRole("lector"))
    {
        <div id="navPanel">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div id="buttonActionSection">
                                <a id="addNewsButton" style="margin-right: 10px" class="btn btn-primary btn-sm" href="@Url.Action("CreateNews", "Subject", new { subjectId = Model.SubjectId })">Добавить новость</a>
                                    @*<a id="addNewsButton" style="margin-right: 10px" class=" fa-2x" href="@Url.Action("CreateNews", "Subject", new { subjectId = Model.SubjectId })"><i class="addNewsButton fa fa-plus fa-2x"></i></a>*@
</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="page-header" style="margin-top: 5px"></div>    
    }

    <div id="news">
        @if (!Model.News.Any())
        {
            <div class="center notification-on-page">
                <p class="notification-header">Ooooooops...</p>
                <p class="notification-body">Новости отсутствуют.</p>  
                <i class="fa-info-circle fa fa-6"></i>
            </div>
        }

        <div class="panel-group" id="accordion">
            @{
                var href = 0;
            }
            @foreach (var news in Model.News)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#link_@href" class="collapsed" style="float: left">@news.Title</a>
                        </h4>
                        <div style="text-align: right">
                            <p class="text-muted" style="float: right; margin-left: 20px">@news.DateCreate</p>
                            @if (User.IsInRole("lector"))
                            {
                                <a class="editNewsButton" style="margin-right: 10px" href="@Url.Action("EditNews", "Subject", new {id=news.NewsId, subjectId=news.SubjectId})"><i class="editNewsButton fa fa-edit fa-2x"></i></a>
                                <a class="deleteNewsButton" href="@Url.Action("DeleteNews", "Subject", new {id=news.NewsId, subjectId=news.SubjectId})"><i class="deleteNewsButton fa fa-trash-o fa-2x"></i></a>
                            }
                        </div>


                        <div class="clear-fix"></div>
                    </div>
                    <div id="link_@href" class="panel-collapse collapse" style="height: 0px;">
                        <div class="panel-body">
                            @news.Body
                        </div>
                    </div>
                </div>
                            href++;
            }
        </div>
    </div>

</div>
