@using LMPlatform.Models
@model LMPlatform.UI.ViewModels.SubjectModulesViewModel.ModulesViewModel.PracticalsDataViewModel

<div>
    @using (Html.BeginForm("SavePractical", "Subject", FormMethod.Post, new
        {
            enctype = "multipart/form-data"
        }))
    {
        <div>
            @Html.ValidationSummary("Ошибка!", new { @class = "alert alert-dismissable alert-danger" })
        </div>

        @Html.AntiForgeryToken()

        @Html.HiddenFor(e => e.SubjectId)
        @Html.HiddenFor(e => e.PracticalId)
        @Html.HiddenFor(e => e.PathFile)
        <div>
            @Html.LabelFor(e => e.Theme, new { @class = "control-label" })
            @Html.TextAreaFor(e => e.Theme, new { @class = "form-control", @style = "width: 500px" })
            @Html.ValidationMessageFor(e => e.Theme, " ")
        </div>
        <div>
            @Html.LabelFor(e => e.ShortName, new { @class = "control-label" })
            @Html.TextBoxFor(e => e.ShortName, new { @class = "form-control", @style = "width: 500px" })
            @Html.ValidationMessageFor(e => e.ShortName, " ")
        </div>
        <div>
            @Html.LabelFor(e => e.Duration, new { @class = "control-label" })
            @Html.TextBoxFor(e => e.Duration, new { @class = "form-control", @id = "newsHtml", @style = "width: 500px;" })
        </div>
        <div>
            <h4 class="page-header">Прикрепленный материал</h4>
            <div>
                @Html.Partial("Common/_FilesUploader", Model.Attachments.ToList())
            </div>
        </div>
        <script>
        </script>
    }
</div>

