<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title LMP разработка</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/Content/datatable-bootstrap.css">

    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrapcontrols")
</head>
<body>
    <div id="body">
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header" style="margin-top: 10px">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">LMPlatform</a>
                </div>
                <div class="navbar-collapse collapse navbar-inverse-collapse" style="margin-top: 10px">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Система управления учебным процессом</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Дополнительные модули <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Система управления ошибками</a></li>
                                <li><a href="#">Тестирование знаний</a></li>
                                <li><a href="#">Методические материалы</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Проекты</li>
                                <li><a href="#">Курсовое проектирование</a></li>
                                <li><a href="#">Дипломное проектирование</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <input type="text" class="form-control col-lg-8 search" placeholder="Поиск">
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
            </div>
        </div>

        @RenderSection("featured", required: false)
        @RenderSection("specificScripts", required: false)
        <div class="row" style="margin: 5px">
            <div class="panel-wrapper col-md-3">
                <div class="list-group">
                    <a href="#" class="list-group-item active">Новости</a>
                    <a href="#" class="list-group-item">Лекции</a>
                    <a href="#" class="list-group-item">Лабораторные работы</a>
                    <a href="#" class="list-group-item">График защиты</a>
                    <a href="#" class="list-group-item">Статистика посещения</a>
                    <a href="#" class="list-group-item">Результаты</a>
                    <a href="#" class="list-group-item">Файлы</a>
                    <a href="#" class="list-group-item">Архив</a>
                    <a href="#" class="list-group-item">Проекты</a>
                    <a href="#" class="list-group-item">Назначение проектов</a>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Навигатор по модулям</h3>
                    </div>
                    <div class="panel-body">
                        <a href="#">Система управления ошибками</a>
                        <div class="clear-fix"></div>
                        <a href="#">Тестирование знаний</a>
                        <div class="clear-fix"></div>
                        <a href="#">Методические материалы</a>
                        <div class="clear-fix"></div>
                        <a href="#">Курсовое проектирование</a>
                        <div class="clear-fix"></div>
                        <a href="#">Дипломное проектирование</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <section class="content-wrapper main-content clear-fix">
                    <div>
                        @RenderBody()
                    </div>
                </section>
            </div>
        </div>
    </div>

    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>
                    &copy; @DateTime.Now.Year - LMP разработка
                </p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/bootbox")
    @RenderSection("scripts", required: false)
</body>
</html>
