@model LMPlatform.UI.ViewModels.ParentalViewModels.PlanViewModel

@{
    ViewBag.Title = "Учебная программа";
    Layout = "~/Views/Shared/Layouts/_ParentalLayout.cshtml";
}

@section title
{
    @Model.PlanSubject.Name (@Model.PlanSubject.ShortName) - Учебная программа
}
<div>
    <div>
        <span>Лекции:</span>
    </div>
    <ul>
        @if (Model.PlanSubject.Lectures != null)
        {
            foreach (var item in Model.PlanSubject.Lectures)
            {
                <li>@item.Theme - @item.Duration ч.</li>
            }
        }

    </ul>
</div>
<div>
    <div>
        <span>Практические:</span>
    </div>
    <ul>
        @if (Model.PlanSubject.Practicals != null)
        {
            foreach (var item in Model.PlanSubject.Practicals)
            {
                <li>@item.Theme - @item.Duration ч.</li>
            }
        }
    </ul>
</div>
