@using Application.Core.UI.HtmlHelpers
@using LMPlatform.UI.Controllers
@model LMPlatform.UI.ViewModels.BTSViewModels.BugListViewModel

@{
    ViewBag.Title = "Управление ошибками";
}

@section css
{
    <link rel="stylesheet" href="/Content/chosen/chosen.css">
    <link rel="stylesheet" href="/Content/Site.css">
}

@section scripts
{
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/application/BTS/bug.js" type="text/javascript"></script>
}

@section navleft
{
    @Html.Partial("_BTSSubnavbar")
}

@section headerTitle
{
	<h1>Управление ошибками</h1>
}
<div>
    @if (Model.CurrentProjectId != 0)
    {
        <h5>Отображаются ошибки проекта "@Model.CurrentProjectName"</h5> 
        <a class="btn btn-primary btn-sm" href="@Url.Action("BugManagement", "BTS", new { id = 0 })">Отобразить ошибки всех проектов</a>
    }
    else
    {
        <h5>Отображаются ошибки всех проектов</h5>
        <a class="btn btn-primary btn-sm" href="@Url.Action("Index", "BTS")">Выбрать проект</a>
    }
</div>
<hr />
<div>
    <a class="addBugButton btn btn-primary btn-sm" href="@Url.Action("AddBug", "BTS", new { id = Model.CurrentProjectId })">Задокументировать ошибку</a>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        
        <div>
            @Html.Partial("_DataTable", new DataTableViewModel
            {
                DataTable = Html.DataTable("BugList", (BTSController controller) => controller.GetAllBugs(null)),
                DataTableOptions = new DataTableOptions
                {
                    Filterable = true,
                    Info = false,
                    OnComplete = "bugManagement.bugEditItemActionHandler",
                    Pagination = false,
                    Searchable = true,
                    Sortable = false,
                }
            })
        </div>
    </div>
</div>

<script>
    var link = window.location.pathname;
    $('.nav li a[href="' + link + '"]').parent().addClass('active');
</script>
