@model LMPlatform.UI.ViewModels.AdministrationViewModels.ModifyStudentViewModel

<div id="adminModal">
    @using (Ajax.BeginForm("EditStudent", "Administration", new AjaxOptions
                                                    {
                                                        Url = Url.Action("EditStudentAjax"),
                                                        OnSuccess = "successAjaxForm",
                                                        HttpMethod = "POST"
                                                    }))
    {
        <div class="error-limit-registr">
            @if (ViewBag.ResultSuccess != null && ViewBag.ResultSuccess)
            {
                <div class="validation-summary-errors alert alert-success">
                    <span>Сохранено</span>
                </div>
            }
            @Html.ValidationSummary("Ошибка!", new { @class = "alert alert-error" })
        </div>

        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)

        <div>
            @* id="registration" class="hero-unit center">*@
            <hgroup style="text-align: center; margin-bottom: 20px">
                <h1>@Model.FullName</h1>
            </hgroup>
            @Html.HiddenFor(m => m.UserName)
            <div>
                @Html.LabelFor(m => m.Surname, new { @class = "control-label" })
                <div>
                    @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                    @Html.ValidationMessageFor(e => e.Surname, " ")
                </div>
                <p></p>
            </div>
            <div>
                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                <div>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(e => e.Name, " ")
                </div>
                <p></p>
            </div>
            <div>
                @Html.LabelFor(m => m.Patronymic, new { @class = "control-label" })
                <div>
                    @Html.TextBoxFor(m => m.Patronymic, new { @class = "form-control" })
                    @Html.ValidationMessageFor(e => e.Patronymic, " ")
                </div>
                <p></p>
            </div>
            <div>
                @Html.LabelFor(e => e.Group, new { @class = "control-label" })
                <div>
                    @Html.DropDownListFor(e => e.Group, Model.GetGroups(), new { @class = "form-control" })
                </div>
                <p></p>
            </div>
            <div>
                @Html.ActionLink("Сбросить пароль ", "ResetPassword", new { id = @Model.UserName })
                <p></p>
            </div>
        </div>
        <div class="modal-footer">
            <input type="button" class="btn btn-sm bootbox-close-button" value="Отмена" style="width: auto" />
            <input type="submit" class="btn btn-primary btn-sm" value="Сохранить" style="width: auto" />
        </div>
    }
</div>
<script type="text/javascript">
    $('#editStudent a').tooltip(
    {
        placement: "right",
    });
</script>
