@using LMPlatform.UI.ViewModels.AdministrationViewModels
@{
    ViewBag.Title = "Сброс пароля";
    Layout = "~/Views/Shared/Layouts/_AdministrationLayout.cshtml";
    @model ResetPasswordViewModel
}

@using (Html.BeginForm("ResetPassword","Administration"))
{
    <div class="error-limit-registr">
        @if (ViewBag.ResultSuccess != null && ViewBag.ResultSuccess)
        {
            <div class="validation-summary-errors alert alert-success">
                <span>Сохранено</span>
            </div>
        }
        @Html.ValidationSummary("Ошибка!", new { @class = "alert alert-error" })
    </div>
    
    @Html.AntiForgeryToken()

    <div id="registration" class="hero-unit center">
        <hgroup style="text-align: center; margin-bottom: 20px">
            <h1>@Html.DisplayFor(m=>m.FullName) (@Html.DisplayFor(m=>m.Login))</h1>
        </hgroup>
        @Html.HiddenFor(m => m.Login)
        @Html.HiddenFor(m => m.FullName)
        <div>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, " ")
        </div>
        <div>
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, " ")
            <p></p>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Сохранить" />
            <a href="@ViewBag.ReturnUrl"><input type="button" class="btn " value="Отмена" /></a>
        </div>
    </div>
}

