@using LMPlatform.UI.ViewModels.AdministrationViewModels
@{
    ViewBag.Title = "Сброс пароля";
    Layout = "~/Views/Shared/Layouts/_AdministrationLayout.cshtml";
    @model ResetPasswordViewModel
}

@using (Html.BeginForm("ResetPassword", "Administration"))
{
    <div class="error-limit-registr">

        @Html.ValidationSummary("Ошибка!", new { @class = "alert alert-error" })
    </div>

    @Html.AntiForgeryToken()

    <div id="registration" class="hero-unit center">
        <hgroup style="text-align: center; margin-bottom: 20px">
            <h1>@Html.DisplayFor(m => m.FullName) (@Html.DisplayFor(m => m.Login))</h1>
        </hgroup>
        @Html.HiddenFor(m => m.Login)
        @Html.HiddenFor(m => m.FullName)
        <div>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, " ")
        </div>
        <div>
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, " ")
            <p></p>
        </div>
        <div style="text-align: right;">
            <a style="text-decoration: none" href="@(Request.UrlReferrer != null && !string.IsNullOrEmpty(Request.UrlReferrer.ToString()) && (Request.Url != Request.UrlReferrer) ? Request.UrlReferrer.ToString() : "/")">
                <input type="button" class="btn btn-sm" value="Отмена" />
            </a>
            <input type="submit" class="btn btn-sm btn-primary" value="Сохранить" />
        </div>
    </div>
}

@if (ViewBag.ResultSuccess != null && ViewBag.ResultSuccess)
{
    <script>
        $(function () {
            alertify.success("Пароль сохранён");
        });

    </script>
}
<style>
    #registration {
        background: inherit;
        box-shadow: inherit;
    }
</style>

