@using Application.Core.UI.HtmlHelpers
@using LMPlatform.UI.Controllers
@{
    ViewBag.Title = "title";
}
@section navleft
{
    @Html.Partial("Layouts/_KnowledgeTestingSubnavbar")
}

@section scripts
{
    @Scripts.Render("~/bundles/datatable", "~/bundles/knockoutBundles")
    @Scripts.Render("~/Scripts/application/KnowledgeTesting/TestsListScript.js",
                "~/Scripts/application/KnowledgeTesting/TestDetailsScript.js")
}

<div style="margin: 10px">
    <div >
    <h1 class="text-center">Доступные тесты</h1>
</div>
</div>

<input type="button" id="addNewTestButton" value="Добавить" class="btn btn-primary btn-xs col-lg-8"/>

<div>
    @Html.Partial("_DataTable", new DataTableViewModel
				{
					DataTable = Html.DataTable("testsList", (TestsManagementController controller) => controller.GetTestsList(null)),
					DataTableOptions = new DataTableOptions
					{
						Filterable = true,
						Info = true,
                        OnComplete = null,
						Pagination = true,
						Searchable = true,
						Sortable = false,
					}
				})
</div>

<div class="modal fade" style="width: 100%" id="testDetails" aria-hidden="true">
    @Html.Partial("TestDetails")
</div>
