@using System.Collections.ObjectModel
@using Application.Core.UI.HtmlHelpers
@using LMPlatform.Models
@model LMPlatform.UI.ViewModels.LmsViewModels.LmsViewModel

@{
    ViewBag.Title = "Система управления учебны процессом";
}

@section css
{
    @Styles.Render("~/Content/bootstrapcontrols")
}
@section scripts
{
    @Scripts.Render("~/bundles/bootstrapcontrols")
    <script src="/Scripts/locales/bootstrap-datepicker.ru.js"></script>
}

@section navleft
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle linkNavbar" data-toggle="dropdown"><i class="fa fa-folder-open-o fa-1x fa-tab"></i>Предметы <b class="caret"></b></a>
        <ul class="dropdown-menu">
            @foreach (var subject in Model.Subjects)
            {
                <li><a title="@subject.DisplayName" href="@Url.Action("Index", "Subject", new { subjectId = subject.SubjectId })" class="linkNavbarLevelBelow">@subject.DisplayName.Truncate(30)</a></li>    
            }
            <li class="divider"></li>
            @if (User.IsInRole("lector"))
            {
                <li><a href="@Url.Action("Management", "Subject")"class="linkNavbarLevelBelow">Управление предметами</a></li>   
            }
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle linkNavbar" data-toggle="dropdown"><i class="fa fa-folder-open-o fa-1x fa-tab"></i>Тестирование знаний<b class="caret"></b></a>
        <ul class="dropdown-menu">
            @foreach (var subject in Model.Subjects)
            {
                var url = User.IsInRole("lector")
                    ? Url.Action("Index", "Tests", new { subjectId = subject.SubjectId })
                    : Url.Action("GetAvailableTests", "TestPassing", new { subjectId = subject.SubjectId });
            
                <li><a href="@url" class="linkNavbarLevelBelow">@subject.DisplayName</a></li>    
            }
            <li class="divider"></li>
            <li><a href="@Url.Action("SubjectsForTests", "Subject")" class="linkNavbarLevelBelow">Все тесты</a></li>
        </ul>
    </li>
    <li><a href="@Url.Action("Index", "BTS")" class="linkNavbar"><i class="fa fa-desktop fa-1x fa-tab"></i>Управление проектами</a></li>
    <li><a href="#" class="linkNavbar"><i class="fa fa-book fa-1x fa-tab"></i>Методические материалы</a></li>
    <li><a href="@Url.Action("Index", "DP")" class="linkNavbar"><i class="fa fa-briefcase fa-1x fa-tab"></i>Дипломное проектирование</a></li>
}

<div style="margin: 10px">

    <div class="clear-fix"></div>

</div>
