@model LMPlatform.UI.ViewModels.LmsViewModels.LmsViewModel

@{
    ViewBag.Title = "Система управления учебны процессом";
}

@section css
{
    @Styles.Render("~/Content/bootstrapcontrols")
}
@section scripts
{
    @Scripts.Render("~/bundles/bootstrapcontrols")
    <script src="/Scripts/locales/bootstrap-datepicker.ru.js"></script>
}

@section navleft
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-size: 16px"><i class="fa fa-folder-open-o fa-1x"></i> Предметы <b class="caret"></b></a>
        <ul class="dropdown-menu">
            @foreach (var subject in Model.Subjects)
            {
                <li><a href="@Url.Action("Index","Subject",new { subjectId = subject.SubjectId })" style="font-size: 14px">@subject.DisplayName</a></li>    
            }
            <li class="divider"></li>
            <li><a href="@Url.Action("Subjects","Subject")" style="font-size: 14px"> Все предметы</a></li>
            @if (User.IsInRole("lector"))
            {
                <li><a href="@Url.Action("Management","Subject")" style="font-size: 14px;"> Управление предметами</a></li>   
            }
        </ul>
    </li>
    <li><a href="@Url.Action("BugManagement","BTS")" style="font-size: 16px"><i class="fa fa-bug fa-1x"></i> Управление ошибками</a></li>
    <li><a href="@Url.Action("Index","KnowledgeTesting")" style="font-size: 14px"><i class="fa fa-check-square-o fa-1x"></i> Тестирование знаний</a></li>
    <li><a href="#" style="font-size: 16px"><i class="fa fa-book fa-1x"></i> Методические материалы</a></li>
    <li><a href="#" style="font-size: 16px"><i class="fa fa-briefcase fa-1x"></i> Дипломное проектирование</a></li>
}

<div style="margin: 10px">
    <div class="text-primary" style="text-align: center">
        <h1>Добро пожаловать в систему управления учебный процессом</h1>
    </div>
    <div class="text-primary">
        <h3>Последние события и новости</h3>
    </div>
</div>
