<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title LMP разработка</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/Content/datatable-bootstrap.css">
    @*<link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>*@
    @*<link href='http://fonts.googleapis.com/css?family=Englebert' rel='stylesheet' type='text/css'>*@
    <link href='http://fonts.googleapis.com/css?family=Lobster&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/bootstrapcontrols")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/angular")
    @RenderSection("css", false)

    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/shared")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrapcontrols")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/ajaxChosen")
    
    <script src="~/Scripts/application/Messages/message.js"></script>

    @RenderSection("headScripts", false)
</head>
<body @RenderSection("bodyAttributes", false)>

    <div style="padding-left: 300px;">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Lms")" class="navbar-brand"><i class="fa fa-home"></i><b>(LMS).Platform</b></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav side-nav">
                    @RenderSection("navleft", false)
                </ul>
                <ul class="nav navbar-nav navbar-right" style="margin-top: 5px">
                    <li>
                        <a href="@Url.Action("Index", "Message")"><i class="fa fa-envelope"></i>  Сообщения <span class="badge">@Html.Action("MessagesCount", "Message")</span></a>
                    </li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </nav>

        @RenderSection("featured", required: false)
        @RenderSection("specificScripts", required: false)
        <div style="padding: 15px 30px">
            @RenderSection("scripts", false)
            @RenderSection("body", false)
            <div id="infoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog panel panel-primary" style="padding: 0px">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-1x fa-info-circle"></i> О програме</h4>
                    </div>
                    <div class="modal-body">
                        <div style="text-align: center">
                            <h2>Система управления учебным процессом v2.0</h2>
                        </div>
                        <div style="text-align: left ;margin-top: 70px; font-size: 11px; margin-bottom: -40px;">
                            <p>Разработчики: <b>Яцынович С.В., Колосовский К.А., Завистовская Е.С., Барковская О.А. Тарасюк П.П.</b></p>
                            <p>Руководитель: <b>Попова Ю.Б.</b></p>
                            <p>БНТУ, ФИТР, ПОВТ и АС </p>
                            <p>© 2013 - @DateTime.Now.Date.Year.ToString()</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-primary btn-sm" id="cancelButton" data-dismiss="modal">ОК</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="content-wrapper">
            <div style="padding-left: 300px;">
                <div class="page-header">
                </div>
                <p style="margin: 5px">&copy; @DateTime.Now.Year - LMP разработка</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/bootbox")
</body>
</html>
