@{
    Layout = "~/Views/Shared/Layouts/_LayoutBase.cshtml";
}

@section css
{
    @RenderSection("css", false)
}

@section scripts{
    @RenderSection("scripts", false)
}

@section navleft{
    @RenderSection("navleft", false)
}

@section body
{
    <div style="padding-top: 40px">
        <div >
            <p style="font-size: 45px; color: #007196; text-align: center">
                @RenderSection("navpanel", false)
            </p>    
        </div>
        
        <section class="well">
            <div style="margin: 5px">
                @RenderBody()
            </div>
        </section>
    </div>
}




