@{
    Layout = "~/Views/Shared/Layouts/_LayoutBase.cshtml";
}

@section css
{
    @RenderSection("css", false)
}

@section scripts{
    @RenderSection("scripts", false)
}

@section navleft{
    @RenderSection("navleft", false)
}

@section body
{
    <div style="padding-top: 40px">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1 class="panel-title text-center" style="font-size: 25px">
                    @RenderSection("navpanel", false)
                </h1>
            </div>
        </div>
        <section class="well">

            <div style="margin: 5px">
                @RenderBody()
            </div>
        </section>
    </div>
}




