@using Application.Core.UI.HtmlHelpers
@using LMPlatform.UI.Controllers
@using Mvc.JQuery.Datatables
@{
    ViewBag.Title = "title";
}
@section subnavbar
{
    @Html.Partial("_KnowledgeTestingSubnavbar")
}

<div style="margin: 10px">
    @Html.Partial("UnderConstruction")
</div>

<table id="testsDataTable"></table>

@Scripts.Render("~/bundles/datatable", "~/bundles/knockoutBundles")
@Scripts.Render("~/Scripts/application/KnowledgeTesting/TestsListScript.js", 
                "~/Scripts/application/KnowledgeTesting/TestDetailsScript.js")

@Html.Partial( "_DataTable", new DataTableViewModel
            {
                DataTable = Html.DataTable( "cardsList", (KnowledgeTestingController controller ) => controller.GetTests(new DataTablesParam())),
                DataTableOptions = new DataTableOptions
                {
                    Pagination = false,
                    Searchable = false,
                    Sortable = false,
                    Filterable = false,
                    Info = false,
                    InvisibleColumnsNumbers = new List<int>()
                }
            } )

@Html.Partial("TestDetails")