@using Application.Core.UI.HtmlHelpers
@using LMPlatform.UI.Controllers
@{
    ViewBag.Title = "title";
}
@section subnavbar
{
    @Html.Partial("_KnowledgeTestingSubnavbar")
}

@section scripts
{
    @Scripts.Render("~/bundles/datatable", "~/bundles/knockoutBundles")
    @Scripts.Render("~/Scripts/application/KnowledgeTesting/TestsListScript.js",
                "~/Scripts/application/KnowledgeTesting/TestDetailsScript.js")
}

<div style="margin: 10px">
    @Html.Partial("UnderConstruction")
</div>

<table id="testsDataTable"></table>



<div>
    @Html.Partial("_DataTable", new DataTableViewModel
				{
					DataTable = Html.DataTable("collectionsList", (KnowledgeTestingController controller) => controller.GetTests(null)),
					DataTableOptions = new DataTableOptions
					{
						Filterable = true,
						Info = true,
                        OnComplete = null,
						Pagination = true,
						Searchable = true,
						Sortable = false,
					}
				})
</div>



@Html.Partial("TestDetails")