@using System.Collections.ObjectModel
@using Application.Core.UI.HtmlHelpers
@using LMPlatform.Models
@model LMPlatform.UI.ViewModels.LmsViewModels.LmsViewModel

@{
    ViewBag.Title = "Профиль";
    if (User.IsInRole("admin"))
    {
        Layout = "../Shared/Layouts/_AdministrationLayout.cshtml";
    }

}

@section css
{
    @Styles.Render("~/Content/bootstrapcontrols")
    <link rel="stylesheet" href="~/Content/circle.css" />
}
@section scripts
{
    @Scripts.Render("~/bundles/bootstrapcontrols")
    <script type="text/javascript" src="~/Scripts/application/profilePage/appProfilePage.js"></script>
    <script type="text/javascript" src="~/Scripts/application/profilePage/controllers/pageController.js"></script>
}

@section headerTitle{
    <h1>Система управления учебным процессом
        <small>Профиль пользователя</small>
    </h1>
}

@section navleft
{

    <li class="treeview">
        <a href="#">
            <i class="fa fa-folder-open-o fa-tab"></i>
            <span>Предметы</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            @foreach (var subject in Model.Subjects)
            {
                <li><a title="@subject.DisplayName" href="@Url.Action("Index", "Subject", new { subjectId = subject.SubjectId })" style="margin-left: 5px;" class="linkNavbarLevelBelow"><i class="fa fa-angle-double-right"></i>@subject.DisplayName</a></li>
            }
            <li class="divider"></li>
            @if (User.IsInRole("lector"))
            {
                <hr style="margin: 0">
                <li><a href="@Url.Action("Management", "Subject")" style="margin-left: 5px;padding: 15px;" class="linkNavbarLevelBelow">Управление предметами</a></li>
            }
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-folder-open-o fa-tab"></i>
            <span>Тестирование знаний</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            @foreach (var subject in Model.Subjects)
            {
                var url = User.IsInRole("lector")
                    ? Url.Action("KnowledgeTesting", "Tests", new { subjectId = subject.SubjectId })
                    : Url.Action("StudentsTesting", "TestPassing", new { subjectId = subject.SubjectId });

                <li><a href="@url" style="margin-left: 5px;" class="linkNavbarLevelBelow"><i class="fa fa-angle-double-right"></i>@subject.DisplayName</a></li>
            }
        </ul>
    </li>
    @if (User.IsInRole("lector"))
    {

        <li class="treeview">
            <a href="#">
                <i class="fa fa-folder-open-o fa-tab"></i>
                <span>ЭУМК</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                @foreach (var mat in Model.ComplexSubjects)
                {
                    var url = Url.Action("Index", "ComplexMaterial", new { subjectId = mat.SubjectId });

                    <li><a href="@url" style="margin-left: 5px;" class="linkNavbarLevelBelow"><i class="fa fa-angle-double-right"></i>@mat.DisplayName</a></li>
                }
            </ul>
        </li>
    }

    <li><a href="@Url.Action("Index", "BTS")"><i class="fa fa-desktop fa-tab"></i>Управление проектами</a></li>
    @if (!User.IsInRole("admin") && ViewBag.ShowDpSectionForUser)
    {
        <li><a href="@Url.Action("Index", "DP")"><i class="fa fa-briefcase fa-tab"></i>Дипломное проектирование</a></li>
    }
    <li><a href="@Url.Action("Index", "ScormMod")"><i class="fa fa-archive fa-tab"></i>SCORM</a></li>
}

<div ng-app="appProfilePage" ng-controller="PageController" ng-init="init('@ViewData["userName"]')" ng-cloak>
    <div class="row">
        <div class="col-md-2">
            <img src="{{loadProfileData.Avatar}}" width="300px" />
        </div>
        <div class="col-md-10">
            <div class="hpanel">
                <div class="panel-heading">
                    Информация
                </div>
                <div class="panel-body" style="display: block; height: 150px">
                    <div>
                        <h1 class="user-name">{{loadProfileData.Name}}</h1>
                    </div>
                    <div class="user-status">
                        <div class="user-type">
                            <div ng-if="loadProfileData.UserType == '1'">Преподаватель</div>
                            <div ng-if="loadProfileData.UserType == '2'">Студент</div>
                        </div>
                        <div class="user-skill">
                            {{loadProfileData.Skill}}
                        </div>
                    </div>
                    <div ng-if="loadProfileData.UserType == '2'" style="margin-top: 10px">
                        Группа - {{loadProfileData.Group}}
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="hpanel">
                <div class="panel-heading">
                    Статистика
                </div>
                <div class="panel-body" style="display: block;">
                    <div class="col-md-2">
                        <div class="c100 p70 green">
                            <span>70%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="c100 p50 green">
                            <span>50%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="c100 p14 green">
                            <span>14%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="c100 p49 green">
                            <span>49%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="hpanel">
                <div class="panel-heading">
                    Предметы
                </div>
                <div class="panel-body" style="display: block; height: 300px">
                    <div class="table-responsive project-list">
                        <table class="table table-striped">
                            <thead>
                                <tr>

                                    <th>Предмет</th>
                                    <th>Завершенность</th>
                                    <th>%</th>
                                    <th>Активность</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in subject">
                                    <td>{{data.Name}}</td>
                                    <td>
                                        <span class="pie" style="display: none;">1/5</span><svg class="peity" height="16" width="16"><path d="M 8 0 A 8 8 0 0 1 15.60845213036123 5.52786404500042 L 8 8" fill="#62cb31"></path><path d="M 15.60845213036123 5.52786404500042 A 8 8 0 1 1 7.999999999999998 0 L 8 8" fill="#edf0f5"></path></svg>
                                    </td>
                                    <td><strong>{{data.Completing}}%</strong></td>
                                    <td><a href=""><i class="fa fa-check text-success"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer" style="display: block;">
                    Текущие предметы пользователя
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="hpanel">
                <div class="panel-heading">
                    Проекты
                </div>
                <div class="panel-body" style="display: block; height: 300px">
                    <div class="table-responsive project-list">
                        <table class="table table-striped">
                            <thead>
                                <tr>

                                    <th>Проект</th>
                                    <th>Активность</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in projects">
                                    <td>{{data.Name}}</td>
                                    <td><a href=""><i class="fa fa-check text-success"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer" style="display: block;">
                    Текущие проекты пользователя
                </div>
            </div>

        </div>
    </div>
    <div class="loading">
        <span us-spinner="{radius:40, width:8, length: 16}" spinner-key="spinner-1" spinner-start-active="true"></span>
    </div>
</div>


<style>
    /* Panels */
    .hpanel > .panel-heading {
        color: inherit;
        font-weight: 600;
        padding: 10px 4px;
        transition: all .3s;
        border: 1px solid transparent;
    }

    .hpanel .hbuilt.panel-heading {
        border-bottom: none;
    }

    .hpanel > .panel-footer,
    .hpanel > .panel-section {
        color: inherit;
        border: 1px solid #e4e5e7;
        border-top: none;
        font-size: 90%;
        background: #f7f9fa;
        padding: 10px 15px;
    }

    .hpanel.panel-collapse > .panel-heading,
    .hpanel .hbuilt {
        background: #fff;
        border-color: #e4e5e7;
        border: 1px solid #e4e5e7;
        padding: 10px 10px;
        border-radius: 2px;
    }

    .hpanel .panel-body {
        background: #fff;
        border: 1px solid #e4e5e7;
        border-radius: 2px;
        padding: 20px;
        position: relative;
    }

    .hpanel.panel-group .panel-body:first-child {
        border-top: 1px solid #e4e5e7;
    }

    .hpanel.panel-group .panel-body {
        border-top: none;
    }

    .panel-collapse .panel-body {
        border: none;
    }

    .hpanel {
        background-color: none;
        border: none;
        box-shadow: none;
        margin-bottom: 25px;
    }

    .panel-tools {
        display: inline-block;
        float: right;
        margin-top: 0;
        padding: 0;
        position: relative;
    }

    .hpanel .alert {
        margin-bottom: 0;
        border-radius: 0;
        border: 1px solid #e4e5e7;
        border-bottom: none;
    }

    .panel-tools a {
        margin-left: 5px;
        color: #9d9fa2;
        cursor: pointer;
    }

    .hpanel.hgreen .panel-body {
        border-top: 2px solid #62cb31;
    }

    .hpanel.hblue .panel-body {
        border-top: 2px solid #3498db;
    }

    .hpanel.hyellow .panel-body {
        border-top: 2px solid #ffb606;
    }

    .hpanel.hviolet .panel-body {
        border-top: 2px solid #9b59b6;
    }

    .hpanel.horange .panel-body {
        border-top: 2px solid #e67e22;
    }

    .hpanel.hred .panel-body {
        border-top: 2px solid #e74c3c;
    }

    .hpanel.hreddeep .panel-body {
        border-top: 2px solid #c0392b;
    }

    .hpanel.hnavyblue .panel-body {
        border-top: 2px solid #34495e;
    }

    .hpanel.hbggreen .panel-body {
        background: #62cb31;
        color: #fff;
        border: none;
    }

    .hpanel.hbgblue .panel-body {
        background: #3498db;
        color: #fff;
        border: none;
    }

    .hpanel.hbgyellow .panel-body {
        background: #ffb606;
        color: #fff;
        border: none;
    }

    .hpanel.hbgviolet .panel-body {
        background: #9b59b6;
        color: #fff;
        border: none;
    }

    .hpanel.hbgorange .panel-body {
        background: #e67e22;
        color: #fff;
        border: none;
    }

    .hpanel.hbgred .panel-body {
        background: #e74c3c;
        color: #fff;
        border: none;
    }

    .hpanel.hbgreddeep .panel-body {
        background: #c0392b;
        color: #fff;
        border: none;
    }

    .hpanel.hbgnavyblue .panel-body {
        background: #34495e;
        color: #fff;
        border: none;
    }

    .user-name {
		line-height: 1.2em;
		color: #39c2d7;
            margin-top: -10px;
	}

	.user-type {
		margin-right: 20px;
	}

	.user-skill::before {
		content: "•";
		display: inline-block;
		margin-left: -1em;
		width: 1em;
		text-align: center;
	}

	.user-status {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: -ms-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		overflow: hidden;
		max-width: 100%;
		font-weight: bold;
	}
</style>





