@model LMPlatform.UI.ViewModels.AccountViewModels.LoginViewModel

@{
	ViewBag.Title = "Вход в систему";
	Layout = "~/Views/Shared/Layouts/_LimitLayout.cshtml";
}
<style>
	.login-img3-body .login-form {
		border: 1px solid #B0B6BE;
		background: rgba(213,215,222,0.1);
	}

	.login-form {
		max-width: 350px;
		margin: 200px auto 0;
		background: #d5d7de;
	}

	.login-wrap {
		padding: 20px;
	}

	.login-img3-body .login-form p, .login-img2-body .login-form p {
		color: #34aadc;
	}

	.login-form .login-img {
		font-size: 50px;
		font-weight: 300;
	}

	.login-form p {
		text-align: center;
		color: #b6b6b6;
		font-size: 16px;
		font-weight: 300;
	}

	.login-form .input-group-addon {
		padding: 6px 12px;
		font-size: 16px;
		color: #8b9199;
		font-weight: normal;
		line-height: 1;
		text-align: center;
		background-color: #ffffff;
		border: none;
		border-radius: 0;
	}

	.login-form .input-group {
		padding-bottom: 15px;
	}
</style>
@using (Html.BeginForm(new { ViewBag.ReturnUrl }))
{
	<div class="error-limit-login">
		@Html.ValidationSummary("Ошибка!", new { @class = "alert alert-dismissable alert-danger" })
	</div>

	@Html.AntiForgeryToken()

	<div class="container">
		<div class="login-form">
			<div class="login-wrap">
				<p class="login-img">
					<i class="fa fa-lock"></i>
				</p>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-user"></i></span>
					@Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Пользователь", @autofocus = "", @style = "margin-top: 0px;border: 0;height: 45px" })
				</div>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-user"></i></span>
					@Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Пароль", @autofocus = "", @style = "margin-top: 0px;border: 0;height: 45px" })
				</div>
				<div style="margin-bottom: 10px">
					<input type="submit" class="btn bg-blue btn-block" value="Войти" />
				</div>
				<div style="margin-bottom: 10px">
					<a class="btn bg-blue btn-block" href=@Url.Action("Register")>
						<strong>Регистрация</strong>
					</a>
				</div>
				<p>
					<a href="#" id="Parental" data-url="@Url.Action("Index", "Parental")">
						<strong>Контроль успеваемости</strong>
					</a>
				</p>
				<p>
					<a href="#" id="reset-password">
						<strong>Забыли пароль?</strong>
					</a>
				</p>
			</div>
		</div>
	</div>

	@*<div class="bg-cadetblue">
			<div class="form-box" id="login-box">
				<div class="header">LMPlatform</div>
				<div class="body bg-gray">
					<div>
						@Html.LabelFor(m => m.UserName, new { @class = "control-label" })
						<div>
							@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
							@Html.ValidationMessageFor(e => e.UserName, " ")
						</div>
						<p></p>
					</div>
					<div>
						@Html.LabelFor(m => m.Password, new { @class = "control-label" })
						<div>
							@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
							@Html.ValidationMessageFor(e => e.Password, " ")
						</div>
						<p></p>
					</div>
				</div>
				<div class="footer">
						<input type="submit" class="btn bg-blue btn-block" value="Войти" />
					<div>
						<p>
							<a href=@Url.Action("Register")>
								<strong>Зарегистрироваться?</strong>
							</a>
						</p>
						<p>
							<a href="#" id="Parental" data-url="@Url.Action("Index", "Parental")">
								<strong>Контроль успеваемости</strong>
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>*@

	@*<div id="login" class="hero-unit center" style="margin-top: 60px">
			<div style="text-align: center; margin-bottom: 20px">
				<h1>LMPlatform</h1>
			</div>
			<div>
				@Html.LabelFor(m => m.UserName, new { @class = "control-label" })
				<div>
					@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
					@Html.ValidationMessageFor(e => e.UserName, " ")
				</div>
				<p></p>
			</div>
			<div>
				@Html.LabelFor(m => m.Password, new { @class = "control-label" })
				<div>
					@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
					@Html.ValidationMessageFor(e => e.Password, " ")
				</div>
				<p></p>
			</div>

			<div class="row" style="margin-left: 0">
				<div class="checkbox col-md-6">
					<label>@Html.CheckBoxFor(m => m.RememberMe) Запомнить</label>
				</div>
				<div class="col-md-6">
					<input type="submit" class="btn btn-primary btn-sm pull-right" value="Войти" />
					<p></p>
				</div>

			</div>

			<div class="registration">
				<p>
					<a href=@Url.Action("Register")>
						<strong>Зарегистрироваться?</strong>
					</a>
				</p>
				<p>
					<a href="#" id="Parental" data-url="@Url.Action("Index", "Parental")">
						<strong>Контроль успеваемости</strong>
					</a>
				</p>
			</div>

			<div style="margin: 2px auto; width: 310px;">
			<div class="browsers">
				<span class="firefox" title="Firefox 17+"></span>
				<span class="chrome" title="Chrome 30+"></span>
				<span class="safari" title="Safari"></span>
				<span class="iexplorer" title="Internet Explorer 9+"></span>
			</div>
		</div>*@

	//</div>
}



<script>
	$(function () {
		$("#Parental").on('click', function () {
			showDialog();
		});

		$("#reset-password").on('click', function () {
			resetPassword();
		});

	});
	openPartialPage = function () {
		if (event.keyCode == 13) {
			var groupName = $('#groupValidation').val();

			window.location.href = "/Parental/Index/" + groupName;
			document.location.href = "/Parental/Index/" + groupName;

			window.event.returnValue = false;
			window.event.preventDefault();
		}

	};

	function resetPassword() {
		var form =
			'<form>' +
			'<div>' +
			'<span style="color: red" id="reset-error"></span>' +
			'</div>' +
			'<div>' +
			'</div>' +
			'<div>' +
			'<span>Введите имя пользователя для сброса пароля:</span>' +
			'</div>' +
			'<div>' +
			'<input id="reset-user-name" type="text" class="form-control"/>' +
			'</div>' +
			'<div>' +
			'<p></p>' +
			'<span>Выберите секретный вопрос:</span>' +
			'</div>' +
			'<div>' +
			'<select id="reset-question" class="form-control">' +
			'<option value="1">Девичья фамилия матери?</option>' +
			'<option value="2">Кличка любимого животного?</option>' +
			'<option value="3">Ваше хобби?</option>' +
			'<select>' +
			'</div>' +
			'<div>' +
			'<p></p>' +
			'<span>Введите ответ на секретнвый вопрос:</span>' +
			'</div>' +
			'<div>' +
			'<input id="reset-answer" type="text" class="form-control"/>' +
			'</div>' +
			'</form>';
		bootbox.dialog({
			message: form,
			backdrop: true,
			keyboard: true,
			title: "Сброс пароля",
			buttons: {
				main: {
					label: "Сбросить",
					className: "btn-primary btn-submit btn-sm",
					closeButton: false,
					callback: function () {
						var userName = $('#reset-user-name').val();
						var questionId = $('#reset-question').val();
						var answer = $('#reset-answer').val();
						$.ajax({
							type: 'GET',
							url: "/Account/VerifySecretQuestion?userName=" + userName + "&questionId=" + questionId + "&answer=" + answer,
							dataType: "json",
							contentType: "application/json"

						}).success(function (data) {
							if (data === "OK") {
								bootbox.hideAll();
								showResetPassword(userName);

							} else {
								$("#reset-error").html(data);
							}
						});

						return false;
					}
				}
			}
		});
	};

	function showResetPassword(userName) {
		var form =
			'<form>' +
			'<div>' +
			'<span style="color: red" id="reset-error"></span>' +
			'</div>' +
			'<div>' +
			'</div>' +
			'<div>' +
			'<span>Новый пароль:</span>' +
			'</div>' +
			'<div>' +
			'<input id="reset-new-password" type="password" class="form-control"/>' +
			'</div>' +
			'<div>' +
			'<p></p>' +
			'<span>Подтверждение пароля:</span>' +
			'</div>' +
			'<div>' +
			'<input id="reset-check-new-password" type="password" class="form-control"/>' +
			'</div>' +
			'</form>';
		bootbox.dialog({
			message: form,
			backdrop: true,
			keyboard: true,
			title: "Новый пароль",
			buttons: {
				main: {
					label: "Сохранить",
					className: "btn-primary btn-submit btn-sm",
					closeButton: false,
					callback: function () {
						var password = $('#reset-new-password').val();
						var checkPassword = $('#reset-check-new-password').val();

						if (password !== checkPassword) {
							$("#reset-error").html("Пароль и подтвержденный пароль не совпадают.");
							return false;
						}

						$.ajax({
							type: 'GET',
							url: "/Account/ResetPassword?userName=" + userName + "&password=" + password,
							dataType: "json",
							contentType: "application/json"

						}).success(function (data) {
							if (data === "OK") {
								bootbox.hideAll();
								bootbox.dialog({
									message: 'Пароль успешно изменен',
									backdrop: true,
									keyboard: true,
									title: "Пароль изменен",
									buttons: {
										main: {
											label: "OK",
											className: "btn-primary btn-submit btn-sm"
										}
									}
								});

							} else {
								$("#reset-error").html(data);
							}
						});

						return false;
					}
				}
			}
		});
	}


	function showDialog() {

		var form =
			'<form>' +
			'<div>' +
			'<span>Введите номер группы:</span>' +
			'</div>' +
			'<div>' +
			'<input id="groupValidation" onkeydown="openPartialPage();" type="text" name="group"/>' +
			'</div>' +
			'<div>' +
			'<span>Введите ФИО студента:</span>' +
			'</div>' +
			'<div>' +
			'<input id="FIOValidation" onkeydown="openPartialPage();" type="text" name="group"/>' +
			'</div>' +
			'</form>';

		bootbox.dialog({
			message: form,
			backdrop: true,
			keyboard: true,
			title: "Контроль успеваемости",
			buttons: {
				main: {
					label: "Войти",
					className: "btn-primary btn-submit btn-sm",
					callback: function () {
						var groupName = $('#groupValidation').val();
						var FIO = $('#FIOValidation').val();
						window.location.href = "/Parental/Index?id=" + groupName + "&FIO=" + FIO;

						//       window.location.href = "/Parental/Index/" + groupName;
					}
				}
			}
		});
	}
</script>

@if (!string.IsNullOrEmpty(ViewBag.ComfirmedError))
{
	<script>
		$(document).ready(function() {
			bootbox.dialog({
				message: '@ViewBag.ComfirmedError',
				backdrop: true,
				keyboard: true,
				title: "Оповещение",
				buttons: {
					main: {
						label: "OK",
						className: "btn-primary btn-submit btn-sm"
					}
				}
			});
		});
	</script>
}
