@model LMPlatform.UI.ViewModels.AccountViewModels.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_LimitLayout.cshtml";
}



@using (Html.BeginForm(new { ViewBag.ReturnUrl }))
{
    <div class="error-limit-registr">
        @Html.ValidationSummary("Ошибка!", new { @class = "alert alert-error" })
    </div>
    
    @Html.AntiForgeryToken()

    <div id="registration" class="hero-unit center">
        <hgroup style="text-align: center; margin-bottom: 20px">
            <h1>@ViewBag.Title</h1>
        </hgroup>

        <div>
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(e => e.UserName, " ")
        </div>
        <div>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, " ")
        </div>
        <div>
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, " ")
        </div>
        <div>
            @Html.LabelFor(m => m.Name, new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(m => m.Name,new { @class = "form-control" })
                @Html.ValidationMessageFor(e => e.Name, " ")
            </div>
            <p></p>
        </div>
        <div>
            @Html.LabelFor(m => m.Surname, new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(m => m.Surname,new { @class = "form-control" })
                @Html.ValidationMessageFor(e => e.Surname, " ")
            </div>
            <p></p>
        </div>
        <div>
            @Html.LabelFor(m => m.Patronymic, new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(m => m.Patronymic,new { @class = "form-control" })
                @Html.ValidationMessageFor(e => e.Patronymic, " ")
            </div>
            <p></p>
        </div>
       <div>
            @Html.LabelFor(e => e.Group, new { @class = "control-label" })
            <div>
                @Html.DropDownListFor(e => e.Group, Model.GetGroups(), new { @class = "form-control" })   
            </div>
            <p></p>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Регистрация" />
        </div>
        <div>
            <a href=@Url.Action("Login")>
                <strong>Войти в систему?</strong>
            </a>
        </div>
    </div>
    <div style="text-align: center; padding-top: 10px">
        <span id="copyright">Copyright © 2013 BNTU. All rights reserved.</span>
    </div>
}


