@using LMPlatform.Models.KnowledgeTesting
@model dynamic

<h3>Тест - @ViewData["testName"] - завершен</h3>
<h4>Ваша оценка - @ViewBag.Mark (@ViewBag.Percent %)</h4>
<div class="form-group">
	@foreach (KeyValuePair<int, PassedQuestionResult> passResult in Model.QuestionsStatuses)
	{

		string color = passResult.Value == PassedQuestionResult.Success
			? "rgb(143, 207, 118)"
			: "rgb(250, 112, 112)";

		var passed = passResult.Value == PassedQuestionResult.Success ? 0 : 1;

		<div class="row">
			<div class="reultsAn" data-passed="@passed" data-key="@passResult.Key"></div>
			<div class="col-lg-2">Вопрос № @passResult.Key</div>
			<div class="col-lg-10" style="background-color: @color; height: 20px"></div>
		</div>
	}
	<div id="returnButtonContainer">
		<h4><a id="returnButton" style="margin-right: 10px"><i class="fa fa-arrow-circle-left fa-1x"></i></a>Вернуться к ЭУМК</h4>
	</div>
	
	@*<div class="nnResult"></div>
	
	<div class="learnT">
	</div>*@
	@if (Model.FoNN) { 
		<div class="panel panel-default" style="margin-top: 20px;">
			<div class="panel-heading">Анализ ответов от обученной нейронной сети.</div>

			<!-- Table -->
			<table class="table learnT">
				<thead>
				<tr>
					<th>Тема</th>
					<th>Статус</th>
					<th>Оценка сети</th>
				</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	}
</div>
	@if (Model.FoNN) { 
		<script>
			@{
				var stringArray = @Html.Raw(Json.Encode(Model.Answers));
				var thems = @Html.Raw(Json.Encode(Model.Thems));
				var dataNn = @Html.Raw(Json.Encode(@Model.NeuralData));
			}
			console.log(@stringArray);

			neuralNetworkV2.fromJSON(JSON.parse(@dataNn));

			var result = neuralNetworkV2.run(@stringArray);
			var themsJ = @thems;
			var htmlData = "";
			$.each(result, function (index, value) {
				htmlData += value.toFixed(4) + " ";
				if (parseFloat(value) > 0.7) {
					var tr = '<tr class="danger"><th><a href="/ComplexMaterial?subjectId=3#/Catalog?parent=' + themsJ[index].id + '">' + themsJ[index].name + '</a></th><td>Изучить</td><td>' + value.toFixed(4) + '</td></tr>';
					$("table.learnT tbody").append(tr);
				} else {
					var trR = '<tr class="success"><th><a href="/ComplexMaterial?subjectId=3#/Catalog?parent=' + themsJ[index].id + '">' + themsJ[index].name + '</a></th><td>Изучено</td><td>' + value.toFixed(4) + '</td></tr>';
					$("table.learnT tbody").append(trR);
				}
			});

			$(".nnResult").html(htmlData);
		</script>
	}
