@{
    ViewBag.Title = "Тестирование знаний";
    Layout = "~/Views/Shared/Layouts/_LayoutBase.cshtml";
}

@model LMPlatform.Models.Subject

@section scripts
{
    @Scripts.Render("~/bundles/studentsTesting")
    @Styles.Render("~/Content/testingModule.css")
   
    @* Move to another file *@
    <script type="text/javascript">
        window.kt = {
            actions: {
                tests: {
                    getTests: '@Url.Action("GetAvailableTests", "TestPassing")',
                    getNextQuestion: '@Url.Action("GetNextQuestion", "TestPassing")',
                },
                results: {
                    getResults: '@Url.Action("GetStudentResults", "TestPassing")',
                }
            }
        };
    </script>
}

@section navleft
{
    <li data-ng-controller="testPasssingNavigationCtrl" class="linkNavbar" data-ng-class="{'active':isActive('/studentTests')}"><a href="#/tests">Тесты</a></li>
		<li data-ng-controller="testPasssingNavigationCtrl" class="linkNavbar" data-ng-class="{'active':isActive('/results')}"><a href="#/results">Результаты</a></li>
<li data-ng-controller="studentResultsCtrl"><a href="/Subject?subjectId={{subjectId}}" linknavbar"><i class="fa fa-arrow-left"></i>В предмет</a></li>
<li data-ng-controller="studentResultsCtrl"><a class="linkNavbar" href="/Tests/Subjects?subjectId={{subjectId}}"><i class="fa fa-refresh fa-tab"></i>Сменить предмет</a></li>
<li data-ng-controller="studentResultsCtrl" class="linkNavbar"><a href="@Url.Action("Index", "Lms")"><i class="fa fa-reply fa-tab"></i>&nbsp;В главное меню</a></li>
   
}

@section headerTitle
{
    <h1>@Model.Name
        <small></small>
    </h1>
    
}

@section bodyAttributes{ ng-app="studentsTestingApp" }

@section body
{
	<div data-ng-view="" class="knowledge-testing"></div>
}

