@using LMPlatform.Models

@model int

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/Layouts/_MainUsingNavLectorLayout.cshtml";
}


@section scripts
{
    @Scripts.Render("~/bundles/datatable", "~/bundles/knockoutBundles")
    @Scripts.Render("~/Scripts/application/KnowledgeTesting/TestsResultsListScript.js",
                "~/Scripts/linq.js")
}

@section navleft
{
    @Html.Partial("~/Views/Tests/_TestsLeftPanel.cshtml", Model)
}

<h3>Результаты тестов
</h3>
<hr />

@if (ViewBag.Groups.Count == 0)
{
    <h2>К предмету не подсоединено ни одной группы</h2>
}
else
{
    foreach (Group group in ViewBag.Groups)
    {
    <button class="btn btn-primary btn-sm groupButton">
        @group.Name
        <input type="hidden" value="@group.Id"/>
    </button>
    }
}

<div id="testReultsTable"></div>
