@model LMPlatform.UI.ViewModels.MessageViewModels.DisplayMessageViewModel
<style>
    .msg-display-head {
        margin: 5px 5px 10px 5px;
        padding-bottom: 10px;
        border-bottom: 1px solid #dddddd;
    }

        .msg-display-head div {
            margin-bottom: 5px;
        }

    .msg-display-body {
        background-color: white;
        margin: 15px 5px 15px 5px;
        padding: 5px 10px 10px 10px;
        border-bottom: 1px solid #dddddd;
    }

    .msg-display-sys {
        color: #007196;
        margin-right: 5px;
    }

    .msg-display-attach-list {
        list-style: none;
    }

        .msg-display-attach-list li {
            margin: 5px 0 5px 0;
        }

    .msg-replay {
        text-align: right;
    }

    .msg-replay a:hover{
        text-decoration: none;
    }

</style>
<div id="msgDispalay">
    <div class="msg-display-head">
        <div>
            <span class="msg-display-sys">От кого:</span>
            @Model.AuthorName
</div>
<div>
    <span class="msg-display-sys">Кому:</span>
    @foreach (var recip in Model.Recipients)
{
    @: @recip.FullName ;
        }

</div>
<div>
    <span class="msg-display-sys">Тема:</span>
    @Model.Subject
</div>
</div>
<div class="msg-display-body">
    @Model.Text
</div>
<div>
    <span class="msg-display-sys">Прикреплённые файлы:</span>
    <ul class="msg-display-attach-list">
        @foreach (var attach in Model.Attachments)
{
    <li>
        <a href="/api/Upload/DowloadFile?fileName=@Path.Combine(attach.PathName,attach.FileName)"><span class="glyphicon glyphicon-download"></span> @attach.Name</a>
</li>
}
</ul>
</div>

<div class="msg-replay">
    <a href="#">
        <span class="glyphicon glyphicon-share-alt"></span>
        Ответить
    </a>
</div>

</div>

<script type="text/javascript">
    $('.modal-dialog').width('900px');
</script>
