@model LMPlatform.UI.ViewModels.MessageViewModel

<script src="../../../Scripts/application/message.js"></script>
<div id="msgForm">
    @using (Html.BeginForm("WriteMessage", "Message", FormMethod.Post))
    {
        <div class="error-limit-registr">
            @Html.ValidationSummary("Ошибка!", new { @class = "alert alert-error" })
        </div>

        <div>
            <hgroup style="text-align: center; margin-bottom: 20px">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            @Html.HiddenFor(m => m.FromId)
            <div>
                @Html.LabelFor(m => m.MessageText)
                @Html.TextAreaFor(m => m.MessageText)
                @Html.ValidationMessageFor(m => m.MessageText, " ")
            </div>
            <div>
                @Html.LabelFor(m => m.Recipients, new { @class = "control-label" })
                <div id="msgRecipients"></div>
                <div>
                    @Html.ListBoxFor(m => m.Recipients, Model.GetRecipients(), 
                    new Dictionary<string, object> { 
                        { "data-placeholder", "Выберте получателя..." }, 
                        { "class", "form-control chosen-select" } })
                </div>
                <p></p>
            </div>
        </div>
    }
</div>


