@using System.Web.UI.WebControls
@model LMPlatform.UI.ViewModels.MessageViewModels.MessageViewModel

<div id="msgForm">
    @using (Ajax.BeginForm("WriteMessage", "Message", new AjaxOptions
                                                                    {
                                                                        Url = Url.Action("WriteMessageAjax"),
                                                                        OnSuccess = "successAjaxForm",
                                                                        HttpMethod = "POST"
                                                                    }))
    {
        <div>
            @Html.ValidationSummary("Ошибка!", new { @class = "alert alert-error" })
        </div>

        <div>
            <hgroup style="text-align: center; margin-bottom: 20px">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            @Html.HiddenFor(m => m.FromId)
            <div>
                @Html.LabelFor(m => m.Recipients, new { @class = "control-label" })
                @if (Model.ToAdmin)
                {
                    /*@Html.LabelFor(m => m.ToAdmin, new {style="font-size: 16px; display: block; text-align: center;"})*/
                    @Html.ListBoxFor(m => m.Recipients, new List<SelectListItem>() { new SelectListItem() { Selected = true, Text = "Администратор", Value = "0" } },
                        new Dictionary<string, object> {
                                                           { "data-placeholder", "Введите имя получателя..." },
                                                           { "class", "form-control chosen-select" },
                                                           {"disabled","disabled"}})

                    @Html.HiddenFor(m => m.ToAdmin)
                    @Html.HiddenFor(m => m.Recipients)
                }
                else
                {
                    @Html.ListBoxFor(m => m.Recipients, Enumerable.Empty<SelectListItem>(),
                        new Dictionary<string, object> {
                                                           { "data-placeholder", "Введите имя получателя..." },
                                                           { "class", "form-control chosen-select" } })

                    @Html.ValidationMessageFor(m => m.Recipients, " ")
                }
                <p></p>
            </div>
            <div>
                @Html.LabelFor(m => m.Subject)
                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
            </div>
            <div>
                @Html.LabelFor(m => m.MessageText)
                @Html.TextAreaFor(m => m.MessageText, new { @class = "form-control", style = "width:100%; max-width: 600px;" })
                <p></p>
                <p></p>
            </div>

            <input type="submit" style="display: none" />
        </div>

    }
    <div style="width: 60%">
        @Html.Partial("Common/_FilesUploader", Model.Attachment)
    </div>
    <div class="modal-footer">
        <input type="button" class="btn btn-sm bootbox-close-button" value="Отмена" style="width: auto" />
        <input type="button" class="btn btn-primary btn-sm submit" onclick="submitMessageForm()" value="Отправить" style="width: auto" />
    </div>
</div>
<link rel="stylesheet" href="/Content/chosen/chosen.css">
<script type="text/javascript">
    $('.modal-dialog').width('600px');
    ajaxChosenInit(".chosen-select");
</script>
